node-red flows/BenchmarkHTTP.json
[{"id":"98fd3651.6eb008","type":"http in","z":"315e5ada.6c48e6","name":"","url":"/benchmark","method":"get","upload":false,"swaggerDoc":"","x":320,"y":360,"wires":[["d2cc70b8.1b1d8"]]},{"id":"31276c62.f5af54","type":"file in","z":"315e5ada.6c48e6","name":"LoadHtml","filename":"d_resources/benchmarkHtmlExample.html","format":"utf8","chunk":false,"sendError":false,"x":480,"y":200,"wires":[["de380564.e8aeb8"]]},{"id":"a1eba426.73f708","type":"inject","z":"315e5ada.6c48e6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":200,"wires":[["31276c62.f5af54"]]},{"id":"9795fa4f.e4efc8","type":"change","z":"315e5ada.6c48e6","name":"","rules":[{"t":"set","p":"htmlContent","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":200,"wires":[[]]},{"id":"d2cc70b8.1b1d8","type":"change","z":"315e5ada.6c48e6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"htmlContent","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":360,"wires":[["60372386.1fd37c"]]},{"id":"d2697510.cca338","type":"http response","z":"315e5ada.6c48e6","name":"","statusCode":"","headers":{"content-type":"text/html"},"x":710,"y":320,"wires":[]},{"id":"c456e282.529b3","type":"change","z":"315e5ada.6c48e6","name":"InitPerformanceCounts","rules":[{"t":"set","p":"pstarttime","pt":"flow","to":"","tot":"date"},{"t":"set","p":"pendCnt","pt":"flow","to":"22000","tot":"num"},{"t":"set","p":"preqTotal","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"pstartCnt","pt":"flow","to":"0","tot":"str"},{"t":"set","p":"p_1_dividedby_endcnt","pt":"flow","to":"1.0/$flowContext('pendCnt')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":280,"wires":[[]]},{"id":"9895fdff.92228","type":"inject","z":"315e5ada.6c48e6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":310,"y":240,"wires":[["c456e282.529b3"]]},{"id":"de380564.e8aeb8","type":"function","z":"315e5ada.6c48e6","name":"StringToBuffer","func":"msg.payload = Buffer.from(msg.payload, \"utf8\");\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":200,"wires":[["9795fa4f.e4efc8"]]},{"id":"60372386.1fd37c","type":"function","z":"315e5ada.6c48e6","name":"PerformanceMeter","func":"\nvar startCnt = flow.get(\"pstartCnt\");\nif(startCnt++ > flow.get(\"pendCnt\")){\n    const startTime = flow.get(\"pstarttime\");\n\tstartCnt = 0;\n\tconst msPerRequest = (Date.now() - startTime) * flow.get(\"p_1_dividedby_endcnt\");\n\tnode.warn(\"Req per second: \" + ((1.0 / msPerRequest) * 1000.0));\n\tflow.set(\"pstarttime\", Date.now());\n}\nflow.set(\"pstartCnt\", startCnt);\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":320,"wires":[["d2697510.cca338"]]},{"id":"8f455384.e7e4d","type":"comment","z":"315e5ada.6c48e6","name":"HTTP Benchmark: Click to load the HTML from file into the memory.","info":"During the test, html is returned from memory","x":460,"y":160,"wires":[]}]