node-red flows/BenchmarksArraysAndGenerate.json
[{"id":"3bc87443.d51cec","type":"function","z":"d90a0d04.a8e3b","name":"PrepareEmptyArrays","func":"// NUMBER_ARRAYS\n// ARRAY_LENGTH\nmsg.arrays = [];\nfor(var i = 0; i<msg.NUMBER_ARRAYS; ++i){\n    //var arr = Array.from(Array(msg.ARRAY_LENGTH)).map(() => 'a');\n    const arr = Buffer.allocUnsafe(msg.ARRAY_LENGTH);\n    msg.arrays.push(arr);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":220,"wires":[["75a8204.3d305e","f2dafdbc.6f117"]]},{"id":"75a8204.3d305e","type":"change","z":"d90a0d04.a8e3b","name":"DiagnosticText","rules":[{"t":"set","p":"DIAGNOSTIC_TEXT_INFO","pt":"msg","to":"PrepareEmptyArrays","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":180,"wires":[["e17af4d5.4d1af8"]]},{"id":"3da28ddf.05b512","type":"uppercase","z":"d90a0d04.a8e3b","name":"","x":1050,"y":500,"wires":[["be950cca.c141f"]]},{"id":"3373d5f.796a22a","type":"lower-case","z":"d90a0d04.a8e3b","name":"","x":1050,"y":580,"wires":[["be950cca.c141f"]]},{"id":"b39ccbdd.db99f8","type":"set-defaults","z":"d90a0d04.a8e3b","name":"SetGenerateParameters","rules":[{"p":"DIAGNOSTIC_TIMESTAMP_BEGIN","pt":"flow","to":"","tot":"date"},{"p":"ARRAY_LENGTH","pt":"flow","to":"7000000","tot":"num"},{"p":"NUMBER_ARRAYS","pt":"flow","to":"24","tot":"num"},{"p":"GENERATE_MINIMUM","pt":"flow","to":"32","tot":"num"},{"p":"GENERATE_MAXIMUM","pt":"flow","to":"125","tot":"num"},{"p":"DIAGNOSTIC_TIMESTAMP_LATEST","pt":"flow","to":"","tot":"to_undefined"},{"p":"DIAGNOSTIC_TIMESTAMP_LATEST","pt":"flow","to":"","tot":"date"},{"p":"filename","pt":"msg","to":"payload","tot":"msg"},{"p":"SINGLE_STRING_SIZE","pt":"flow","to":"","tot":"to_undefined"},{"p":"SINGLE_STRING_SIZE","pt":"flow","to":"14","tot":"str"}],"chbox_DoOutputToMessage":true,"chbox_SetCurrentToMsg":true,"howSend":{"text":"payload","type":"full","modifiedValue":"payload"},"dropdown_HowManyMessages":"single","dropdownObjOrVal":"value","outputs":1,"x":430,"y":200,"wires":[["eb09a633.f04bf8","3bc87443.d51cec"]]},{"id":"ceff85bf.9a3068","type":"set-defaults","z":"d90a0d04.a8e3b","name":"ClearGenerateParameters","rules":[{"p":"ARRAY_LENGTH","pt":"flow","to":"","tot":"to_undefined"},{"p":"NUMBER_ARRAYS","pt":"flow","to":"","tot":"to_undefined"},{"p":"GENERATE_MINIMUM","pt":"flow","to":"","tot":"to_undefined"},{"p":"GENERATE_MAXIMUM","pt":"flow","to":"","tot":"to_undefined"},{"p":"DIAGNOSTIC_TIMESTAMP_BEGIN","pt":"flow","to":"","tot":"to_undefined"}],"chbox_DoOutputToMessage":false,"chbox_SetCurrentToMsg":true,"howSend":{"text":"payload","type":"full","modifiedValue":"payload"},"dropdown_HowManyMessages":"single","dropdownObjOrVal":"value","outputs":1,"x":160,"y":200,"wires":[["b39ccbdd.db99f8"]]},{"id":"fbda9fbd.d9b4f","type":"inject","z":"d90a0d04.a8e3b","name":"GenerateFiles","topic":"","payload":"forScience.txt","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":140,"wires":[["ceff85bf.9a3068"]]},{"id":"1aa33de5.91a892","type":"function","z":"d90a0d04.a8e3b","name":"ReportSpeed","func":"\nvar ts_begin = flow.get(\"DIAGNOSTIC_TIMESTAMP_BEGIN\");\n\nvar ts_last = flow.get(\"DIAGNOSTIC_TIMESTAMP_LATEST\");\n\nvar ts_now = Date.now();\n\nflow.set(\"DIAGNOSTIC_TIMESTAMP_LATEST\", ts_now);\n\nif(msg.DIAGNOSTIC_TEXT_INFO){\n    msg.payload = \"Operation \\\"\" + msg.DIAGNOSTIC_TEXT_INFO + \"\\\" measurment:\\n\";\n}else{\n    msg.payload = \"\";\n}\n\nmsg.payload += \"Since last measure: \" + (0.001*(ts_now-ts_last));\nmsg.payload += \"\\nSince beginning: \" + (0.001*(ts_now-ts_begin));\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":80,"wires":[["6780028b.92107c"]]},{"id":"6780028b.92107c","type":"debug","z":"d90a0d04.a8e3b","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":680,"y":80,"wires":[]},{"id":"eb09a633.f04bf8","type":"change","z":"d90a0d04.a8e3b","name":"DiagnosticText","rules":[{"t":"set","p":"DIAGNOSTIC_TEXT_INFO","pt":"msg","to":"Preparation","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":160,"wires":[["32e7c445.d01a5c"]]},{"id":"f2dafdbc.6f117","type":"function","z":"d90a0d04.a8e3b","name":"FillArrays","func":"// NUMBER_ARRAYS\n// ARRAY_LENGTH\n// GENERATE_MINIMUM\n// GENERATE_MAXIMUM\n\nfunction getRandomInt(min, max) {\n  return Math.floor(Math.random() * (max-min) + min);\n}\n\n// var to_char = function(character) {\n//     const n = character;\n//     if (n < 10) return n; //1-10\n//     return String.fromCharCode(n); //a-z\n// }\n\nfor(var i = 0; i<msg.NUMBER_ARRAYS; ++i){\n    let ca = msg.arrays[i];\n    for(var j = 0; j<msg.ARRAY_LENGTH; ++j){\n        ca[j] = getRandomInt(msg.GENERATE_MINIMUM, msg.GENERATE_MAXIMUM+1);\n    }\n  //  ca[ca.length-1] = '\\n';\n    node.send({DIAGNOSTIC_TEXT_INFO:\"Generated array \" + i});\n}\n\nreturn [null,msg];","outputs":2,"noerr":0,"x":940,"y":220,"wires":[["ce0a5a42.f2cd18"],["730c6373.86cd4c"]]},{"id":"fac344d4.65ac68","type":"function","z":"d90a0d04.a8e3b","name":"JoinArraysPrepareOutputString","func":"// NUMBER_ARRAYS\n// ARRAY_LENGTH\n// GENERATE_MINIMUM\n// GENERATE_MAXIMUM\n// msg.HELPER_ARR_SIZE\n// msg.helper_array = helper1;\n// msg.bin_array = binary;\n// SINGLE_STRING_SIZE\n\njoind = [msg.NUMBER_ARRAYS];\nfor(var i = 0; i<msg.NUMBER_ARRAYS; ++i){\n   // joind.push(msg.arrays[i].join(\"\"))\n   joind.push(msg.arrays[i].toString(\"ascii\"));\n}\n\njoind.push(msg.helper_array.join(\",\"));\njoind.push(msg.bin_array.join(\",\"));\njoind.push(msg.SINGLE_STRING_SIZE);\n\n\n\nmsg.payload = joind.join(\"\\n\");\n\nreturn [{DIAGNOSTIC_TEXT_INFO: \"Arrays joined\"},msg];","outputs":2,"noerr":0,"x":1070,"y":280,"wires":[["9f47cb62.94df68"],["869e6893.2bfe08"]]},{"id":"cae4c183.c090b","type":"link in","z":"d90a0d04.a8e3b","name":"ReportPerformanceLinkIn","links":["32e7c445.d01a5c","e17af4d5.4d1af8","ce0a5a42.f2cd18","9f47cb62.94df68","cdc00758.b431f8","f9a5bd89.5604b"],"x":355,"y":80,"wires":[["1aa33de5.91a892"]]},{"id":"32e7c445.d01a5c","type":"link out","z":"d90a0d04.a8e3b","name":"RPLO","links":["cae4c183.c090b"],"x":555,"y":140,"wires":[]},{"id":"e17af4d5.4d1af8","type":"link out","z":"d90a0d04.a8e3b","name":"RPLO","links":["cae4c183.c090b"],"x":835,"y":160,"wires":[]},{"id":"ce0a5a42.f2cd18","type":"link out","z":"d90a0d04.a8e3b","name":"RPLO","links":["cae4c183.c090b"],"x":1035,"y":180,"wires":[]},{"id":"9f47cb62.94df68","type":"link out","z":"d90a0d04.a8e3b","name":"RPLO","links":["cae4c183.c090b"],"x":1335,"y":260,"wires":[]},{"id":"869e6893.2bfe08","type":"file","z":"d90a0d04.a8e3b","name":"WriteFile","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","x":1040,"y":340,"wires":[["25a399b6.639166"]]},{"id":"7cedbca.28c0a44","type":"change","z":"d90a0d04.a8e3b","name":"SetInitialIndices","rules":[{"t":"set","p":"mainArrayIndex","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"positionArrayIndex","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":460,"wires":[["d86b6b73.ab1ae8"]]},{"id":"a8bbc3cf.852d","type":"comment","z":"d90a0d04.a8e3b","name":"Notes: variable names (click to see)","info":"msg.arrays\nmsg.mainArrayIndex\nmsg.positionArray\nmsg.positionArrayIndex\nmsg.stringSize\nmsg.MAIN_ARR_SIZE\nmsg.HELPER_ARR_SIZE\nmsg.binaryArray","x":300,"y":340,"wires":[]},{"id":"bd9eff35.e7752","type":"inject","z":"d90a0d04.a8e3b","name":"LoadFile","topic":"Reading","payload":"LoadFIleTrigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":600,"wires":[["87d63078.3dd22","6bc56683.90faf8"]]},{"id":"d86b6b73.ab1ae8","type":"function","z":"d90a0d04.a8e3b","name":"TakeFromArray","func":"\n//msg.arrays\n//msg.mainArrayIndex\n//msg.positionArrayIndex\n//msg.stringSize\n\n// node.warn(\"msg.positionArrayIndex: \", msg.positionArrayIndex);\n// node.warn(\"msg.positionArray[msg.positionArrayIndex]\", msg.positionArray[msg.positionArrayIndex]);\n// node.warn(\"msg.arrays[msg.positionArray[msg.positionArrayIndex]]\", msg.arrays[msg.positionArray[msg.positionArrayIndex]]);\n\nmsg.payload = msg.arrays[msg.positionArray[msg.positionArrayIndex]].substr(msg.mainArrayIndex, msg.stringSize);\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":500,"wires":[["42d6b146.8e42e"]]},{"id":"c15f7949.8a7f88","type":"switch","z":"d90a0d04.a8e3b","name":"UpperOrLower","property":"lowerOrUpper","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":860,"y":580,"wires":[["3da28ddf.05b512"],["3373d5f.796a22a"]]},{"id":"42d6b146.8e42e","type":"function","z":"d90a0d04.a8e3b","name":"ReadFromBinaryArray","func":"// msg.arrays\n// msg.mainArrayIndex\n// msg.positionArray\n// msg.positionArrayIndex\n// msg.stringSize\n// msg.MAIN_ARR_SIZE\n// msg.HELPER_ARR_SIZE\n// msg.binaryArray\n\nmsg.lowerOrUpper = msg.binaryArray[msg.positionArrayIndex];\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":540,"wires":[["c15f7949.8a7f88"]]},{"id":"b7c810a4.3efa9","type":"link out","z":"d90a0d04.a8e3b","name":"RestartLoop","links":["e6220460.955d48","e0c2a22e.5ffd1"],"x":1255,"y":580,"wires":[]},{"id":"e6220460.955d48","type":"link in","z":"d90a0d04.a8e3b","name":"RestartLoopOne","links":["b7c810a4.3efa9"],"x":695,"y":500,"wires":[["d86b6b73.ab1ae8"]]},{"id":"faf85bdc.4f8b68","type":"comment","z":"d90a0d04.a8e3b","name":"Restart loop","info":"","x":1350,"y":580,"wires":[]},{"id":"be950cca.c141f","type":"function","z":"d90a0d04.a8e3b","name":"PerformanceMeter_AndCounter","func":"\nvar startCnt = flow.get(\"pstartCnt\");\nif(startCnt++ > flow.get(\"pendCnt\")){\n    const startTime = flow.get(\"pstarttime\");\n\tstartCnt = 0;\n\tconst msPerRequest = (Date.now() - startTime) * flow.get(\"p_1_dividedby_endcnt\");\n\tnode.warn(\"Req per second: \" + ((1.0 / msPerRequest) * 1000.0));\n\tflow.set(\"pstarttime\", Date.now());\n}\nconst totalCnt = flow.get(\"preqTotal\");\nif(totalCnt > flow.get(\"runs_done\")){\n    node.warn(\"Done. Elapsed: \" + ((Date.now() - flow.get(\"BENCHMARK_BEGIN\")) * 0.001));\n    return null;\n}\nflow.set(\"preqTotal\", totalCnt + 1);\nflow.set(\"pstartCnt\", startCnt);\n\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":500,"wires":[["167f6fb0.c8113"]]},{"id":"c72ea6e.26b8458","type":"change","z":"d90a0d04.a8e3b","name":"InitPerformanceCounts","rules":[{"t":"set","p":"BENCHMARK_BEGIN","pt":"flow","to":"","tot":"date"},{"t":"set","p":"pstarttime","pt":"flow","to":"","tot":"date"},{"t":"set","p":"preqTotal","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"pstartCnt","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"runs_done1","pt":"flow","to":"12022","tot":"num"},{"t":"set","p":"runs_done","pt":"flow","to":"800","tot":"num"},{"t":"set","p":"pendCnt","pt":"flow","to":"60000","tot":"num"},{"t":"set","p":"p_1_dividedby_endcnt","pt":"flow","to":"1.0/$flowContext('pendCnt')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":460,"wires":[["a701bd8.bf21f4"]]},{"id":"730c6373.86cd4c","type":"function","z":"d90a0d04.a8e3b","name":"GenerateHelperArrays","func":"// NUMBER_ARRAYS\n// ARRAY_LENGTH\n// GENERATE_MINIMUM\n// GENERATE_MAXIMUM\nmsg.HELPER_ARR_SIZE = Math.ceil(msg.ARRAY_LENGTH / 71);\n\nfunction getRandomInt(min, max) {\n  return Math.floor(Math.random() * (max-min) + min);\n}\n\nvar helper1 = [];\nvar binary = [];\nfor(var i = 0; i<msg.HELPER_ARR_SIZE; ++i){\n    helper1.push(getRandomInt(0, msg.NUMBER_ARRAYS));\n    binary.push(getRandomInt(0, 2));\n}\n\nmsg.helper_array = helper1;\nmsg.bin_array = binary;\n\nreturn [{DIAGNOSTIC_TEXT_INFO: \"Helper arrays GENd\"},msg];","outputs":2,"noerr":0,"x":1140,"y":220,"wires":[["cdc00758.b431f8"],["fac344d4.65ac68"]]},{"id":"cdc00758.b431f8","type":"link out","z":"d90a0d04.a8e3b","name":"RPLO","links":["cae4c183.c090b"],"x":1135,"y":180,"wires":[]},{"id":"25a399b6.639166","type":"change","z":"d90a0d04.a8e3b","name":"DiagnosticText-DONE","rules":[{"t":"set","p":"DIAGNOSTIC_TEXT_INFO","pt":"msg","to":"All done","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":340,"wires":[["f9a5bd89.5604b"]]},{"id":"f9a5bd89.5604b","type":"link out","z":"d90a0d04.a8e3b","name":"RPLO","links":["cae4c183.c090b"],"x":1355,"y":340,"wires":[]},{"id":"87d63078.3dd22","type":"file in","z":"d90a0d04.a8e3b","name":"","filename":"../magisterska/nodered_resources/d_resources/b_ignore/stringsGen1.2M_32.txt","format":"utf8","chunk":false,"sendError":false,"x":320,"y":560,"wires":[["62d5f864.8a1528","a6d27cb4.03fad"]]},{"id":"167f6fb0.c8113","type":"change","z":"d90a0d04.a8e3b","name":"IncrementIndices","rules":[{"t":"set","p":"mainArrayIndex","pt":"msg","to":"(mainArrayIndex+1)%MAIN_ARR_SIZE","tot":"jsonata"},{"t":"set","p":"positionArrayIndex","pt":"msg","to":"(positionArrayIndex+1)%HELPER_ARR_SIZE","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":540,"wires":[["b7c810a4.3efa9"]]},{"id":"45ef1dd3.714a94","type":"comment","z":"d90a0d04.a8e3b","name":"Unable to stop NodeJS normal way when benchmark is running. In InitPerformanceCounts also set after how many runs it wil stop.","info":"","x":510,"y":1080,"wires":[]},{"id":"62d5f864.8a1528","type":"function","z":"d90a0d04.a8e3b","name":"FileContentToFlow","func":"// msg.arrays\n// msg.mainArrayIndex\n// msg.positionArray\n// msg.positionArrayIndex\n// msg.stringSize\n// msg.MAIN_ARR_SIZE\n// msg.HELPER_ARR_SIZE\n// msg.binaryArray\n// msg.NUMBER_ARRAYS\n// msg.ARRAY_LENGTH\n// msg.helper_array\n// msg.bin_array\n// SINGLE_STRING_SIZE\n\nnode.warn(\"File read, starting procesing.\");\nconst lines = msg.payload.split(\"\\n\");\nlet arrays = [];\nflow.set(\"NUMBER_ARRAYS\", Number(lines[0]));\nlet NUMBER_ARRAYS = Number(lines[0]);\nfor(var i = 0; i<NUMBER_ARRAYS; ++i){\n    arrays.push(lines[i+1]);\n}\nflow.set(\"positionArray\",lines[NUMBER_ARRAYS+1].split(\",\").map(itm => Number(itm)));\nflow.set(\"binaryArray\",lines[NUMBER_ARRAYS+2].split(\",\").map(itm => itm === \"1\"));\nflow.set(\"SINGLE_STRING_SIZE\",Number(lines[NUMBER_ARRAYS+3]));\n\nflow.set(\"MAIN_ARR_SIZE\",arrays[0].length);\nflow.set(\"HELPER_ARR_SIZE\",flow.get(\"positionArray\").length);\nflow.set(\"arrays\",arrays);\n\nnode.warn(\"File read and loaded successfully.\");\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":520,"wires":[[]]},{"id":"a701bd8.bf21f4","type":"change","z":"d90a0d04.a8e3b","name":"FlowToMsg","rules":[{"t":"set","p":"arrays","pt":"msg","to":"arrays","tot":"flow"},{"t":"set","p":"NUMBER_ARRAYS","pt":"msg","to":"NUMBER_ARRAYS","tot":"flow"},{"t":"set","p":"positionArray","pt":"msg","to":"positionArray","tot":"flow"},{"t":"set","p":"binaryArray","pt":"msg","to":"binaryArray","tot":"flow"},{"t":"set","p":"SINGLE_STRING_SIZE","pt":"msg","to":"SINGLE_STRING_SIZE","tot":"flow"},{"t":"set","p":"MAIN_ARR_SIZE","pt":"msg","to":"MAIN_ARR_SIZE","tot":"flow"},{"t":"set","p":"HELPER_ARR_SIZE","pt":"msg","to":"HELPER_ARR_SIZE","tot":"flow"},{"t":"set","p":"stringSize","pt":"msg","to":"SINGLE_STRING_SIZE","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":460,"wires":[["7cedbca.28c0a44"]]},{"id":"360ac91c.f670e6","type":"inject","z":"d90a0d04.a8e3b","name":"RunBenchmark","topic":"benchmarkAsciiInput.txt","payload":"d_resources/benchmarkAsciiInput.txt","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":780,"y":460,"wires":[["c72ea6e.26b8458"]]},{"id":"6bc56683.90faf8","type":"debug","z":"d90a0d04.a8e3b","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":310,"y":600,"wires":[]},{"id":"a6d27cb4.03fad","type":"debug","z":"d90a0d04.a8e3b","name":"FileHasBeenRead","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"topic","x":520,"y":600,"wires":[]},{"id":"be2db59.32f6848","type":"comment","z":"d90a0d04.a8e3b","name":"Updated: improved. Read notes","info":"We will try to minimalize use of nodes,\nbut instead a single function preferably","x":510,"y":960,"wires":[]},{"id":"7e862589.cfe62c","type":"change","z":"d90a0d04.a8e3b","name":"SetInitialIndices","rules":[{"t":"set","p":"mainArrayIndex","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"positionArrayIndex","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1000,"wires":[["894caed7.b27ba"]]},{"id":"6ad08a0d.02eec4","type":"inject","z":"d90a0d04.a8e3b","name":"","topic":"MsgStandard","payload":"run","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":1040,"wires":[["c83b36b5.4087d8"]]},{"id":"c83b36b5.4087d8","type":"change","z":"d90a0d04.a8e3b","name":"InitPerformanceCounts","rules":[{"t":"set","p":"BENCHMARK_BEGIN","pt":"flow","to":"","tot":"date"},{"t":"set","p":"pstarttime","pt":"flow","to":"","tot":"date"},{"t":"set","p":"pendCnt","pt":"flow","to":"30000000","tot":"num"},{"t":"set","p":"preqTotal","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"pstartCnt","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"runs_done","pt":"flow","to":"120000007","tot":"num"},{"t":"set","p":"runs_done_al","pt":"flow","to":"3000000","tot":"num"},{"t":"set","p":"pendCnt_al","pt":"flow","to":"420000","tot":"num"},{"t":"set","p":"p_1_dividedby_endcnt","pt":"flow","to":"1.0/$flowContext('pendCnt')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":1040,"wires":[["9a46a532.0be158"]]},{"id":"9842cea1.4adad","type":"function","z":"d90a0d04.a8e3b","name":"BenchmarkRunMsg","func":"// msg.arrays\n// msg.mainArrayIndex\n// msg.positionArray\n// msg.positionArrayIndex\n// msg.stringSize\n// msg.MAIN_ARR_SIZE\n// msg.HELPER_ARR_SIZE\n// msg.binaryArray\n\nnode.warn(\"Running BenchmarkRunMsg\");\n\nvar meter = context.global.performanceMeter;\n\nlet totalRuns = 0;\nconst MAX_RUNS = flow.get(\"runs_done\");\nmeter.initialize(flow.get(\"pendCnt\"));\nwhile(totalRuns++ <= MAX_RUNS)\n{\n    let payload = msg.arrays[msg.positionArray[msg.positionArrayIndex]].substr(msg.mainArrayIndex, msg.SINGLE_STRING_SIZE);\n    const output = msg.binaryArray[msg.positionArrayIndex]?payload.toUpperCase():payload.toLowerCase();\n    meter.notifyEvent();\n    msg.positionArrayIndex = (msg.positionArrayIndex+1)%msg.HELPER_ARR_SIZE;\n    msg.mainArrayIndex  = (msg.mainArrayIndex+1)%msg.MAIN_ARR_SIZE;\n}\n\nnode.warn(\"Done. Elapsed: \" + ((Date.now() - flow.get(\"BENCHMARK_BEGIN\")) * 0.001));\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":1000,"wires":[[]]},{"id":"6aba357.d0bb8cc","type":"comment","z":"d90a0d04.a8e3b","name":"Nodes looping v2- Fixed with change node","info":"Like previous, but we loop in connections and not while\n\n\nDobim stack overflow, crash","x":380,"y":1440,"wires":[]},{"id":"c0228c6.208007","type":"function","z":"d90a0d04.a8e3b","name":"BenchmarkRunDirect","func":"// msg.arrays\n// msg.mainArrayIndex\n// msg.positionArray\n// msg.positionArrayIndex\n// msg.stringSize\n// msg.MAIN_ARR_SIZE\n// msg.HELPER_ARR_SIZE\n// msg.binaryArray\n\nvar meter = context.global.performanceMeter;\n\nlet totalRuns = 0;\nconst MAX_RUNS = flow.get(\"runs_done\");\nmeter.initialize(flow.get(\"pendCnt\"));\n\nlet positionArrayIndex = 0;\nlet mainArrayIndex = 0;\nvar arrays = msg.arrays;\nvar NUMBER_ARRAYS = msg.NUMBER_ARRAYS;\nvar positionArray = msg.positionArray;\nvar binaryArray =  msg.binaryArray;\nvar SINGLE_STRING_SIZE = msg.SINGLE_STRING_SIZE;\n\nvar MAIN_ARR_SIZE = arrays[0].length;\nvar HELPER_ARR_SIZE = positionArray.length;\n\nwhile(totalRuns++ <= parsed_args.total_runs)\n{\n    let payload = arrays[positionArray[positionArrayIndex]].substr(mainArrayIndex, SINGLE_STRING_SIZE);\n    const lowerOrUpper = binaryArray[positionArrayIndex];\n    const output = lowerOrUpper?payload.toUpperCase():payload.toLowerCase();\n    meter.notifyEvent();\n    positionArrayIndex = (positionArrayIndex+1)%HELPER_ARR_SIZE;\n    mainArrayIndex  = (mainArrayIndex+1)%MAIN_ARR_SIZE;\n}\n\nnode.warn(\"Done. Elapsed: \" + ((Date.now() - flow.get(\"BENCHMARK_BEGIN\")) * 0.001));\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":1040,"wires":[[]]},{"id":"782e40ee.bfd9f","type":"comment","z":"d90a0d04.a8e3b","name":"NO DIFFERENCE","info":"Note: Tried using msg.something, or writing something\ndirectly to global. Makes no difference .. same speed.","x":890,"y":960,"wires":[]},{"id":"50ba6c4a.fa48d4","type":"function","z":"d90a0d04.a8e3b","name":"BenchmarkRunExternalLoop","func":"// msg.arrays\n// msg.mainArrayIndex\n// msg.positionArray\n// msg.positionArrayIndex\n// msg.stringSize\n// msg.MAIN_ARR_SIZE\n// msg.HELPER_ARR_SIZE\n// msg.binaryArray\n\n\n\n\n\nlet payload = msg.arrays[msg.positionArray[msg.positionArrayIndex]].substr(msg.mainArrayIndex, msg.SINGLE_STRING_SIZE);\n//node.warn(\"l12\");\nconst lowerOrUpper = msg.binaryArray[msg.positionArrayIndex];\n//node.warn(\"l14\");\nconst output = lowerOrUpper?payload.toUpperCase():payload.toLowerCase();\n//node.warn(\"l16\");\nmsg.positionArrayIndex = (msg.positionArrayIndex+1)%msg.HELPER_ARR_SIZE;\nmsg.mainArrayIndex  = (msg.mainArrayIndex+1)%msg.MAIN_ARR_SIZE;\n//node.warn(\"l18\");\n\ncontext.global.performanceMeter.notifyEvent();\n\n// node.warn(\"done: \" + msg.totalRuns);\n// node.warn(\"max: \" + msg.MAX_RUNS);\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":1540,"wires":[["b7992415.8d30a8"]]},{"id":"dfb24c30.7de23","type":"change","z":"d90a0d04.a8e3b","name":"PrepareExternalLoop","rules":[{"t":"set","p":"totalRuns","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"MAX_RUNS","pt":"msg","to":"runs_done","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1500,"wires":[["6eecca37.8279e4"]]},{"id":"9d24195f.2079d8","type":"switch","z":"d90a0d04.a8e3b","name":"while(totalRuns<MAX_RUNS)","property":"totalRuns","propertyType":"msg","rules":[{"t":"lt","v":"MAX_RUNS","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":1660,"wires":[["50ba6c4a.fa48d4"],["3d9774fa.e6729c"]]},{"id":"3d9774fa.e6729c","type":"function","z":"d90a0d04.a8e3b","name":"WriteFinalTime","func":"// msg.arrays\n// msg.mainArrayIndex\n// msg.positionArray\n// msg.positionArrayIndex\n// msg.stringSize\n// msg.MAIN_ARR_SIZE\n// msg.HELPER_ARR_SIZE\n// msg.binaryArray\n\nnode.warn(\"Done. Elapsed: \" + ((Date.now() - flow.get(\"BENCHMARK_BEGIN\")) * 0.001));\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":1720,"wires":[[]]},{"id":"c30170bc.d6412","type":"change","z":"d90a0d04.a8e3b","name":"SetInitialIndices","rules":[{"t":"set","p":"mainArrayIndex","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"positionArrayIndex","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1480,"wires":[["dfb24c30.7de23"]]},{"id":"41538983.990e98","type":"inject","z":"d90a0d04.a8e3b","name":"RunBenchmark","topic":"benchmarkAsciiInput.txt","payload":"d_resources/benchmarkAsciiInput.txt","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1560,"wires":[["c853fc76.70513"]]},{"id":"c853fc76.70513","type":"change","z":"d90a0d04.a8e3b","name":"InitPerformanceCounts","rules":[{"t":"set","p":"BENCHMARK_BEGIN","pt":"flow","to":"","tot":"date"},{"t":"set","p":"pstarttime","pt":"flow","to":"","tot":"date"},{"t":"set","p":"pendCnt","pt":"flow","to":"50000","tot":"num"},{"t":"set","p":"preqTotal","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"pstartCnt","pt":"flow","to":"0","tot":"str"},{"t":"set","p":"p_1_dividedby_endcnt","pt":"flow","to":"1.0/$flowContext('pendCnt')","tot":"jsonata"},{"t":"set","p":"runs_done","pt":"flow","to":"200008","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":1560,"wires":[["1e90d2c3.774afd"]]},{"id":"927b021f.452aa","type":"uppercase","z":"d90a0d04.a8e3b","name":"","x":770,"y":1940,"wires":[["da20799f.3d8ee8"]]},{"id":"feb0f39d.23779","type":"lower-case","z":"d90a0d04.a8e3b","name":"","x":770,"y":1980,"wires":[["723bab30.a059c4"]]},{"id":"3fada267.06e85e","type":"change","z":"d90a0d04.a8e3b","name":"SetInitialIndices","rules":[{"t":"set","p":"mainArrayIndex","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"positionArrayIndex","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":1880,"wires":[["a49e5699.225098"]]},{"id":"90a12a5c.b5bab8","type":"function","z":"d90a0d04.a8e3b","name":"TakeFromArray","func":"\n//msg.arrays\n//msg.mainArrayIndex\n//msg.positionArrayIndex\n//msg.stringSize\n\n// node.warn(\"msg.positionArrayIndex: \", msg.positionArrayIndex);\n// node.warn(\"msg.positionArray[msg.positionArrayIndex]\", msg.positionArray[msg.positionArrayIndex]);\n// node.warn(\"msg.arrays[msg.positionArray[msg.positionArrayIndex]]\", msg.arrays[msg.positionArray[msg.positionArrayIndex]]);\n\nmsg.payload = msg.arrays[msg.positionArray[msg.positionArrayIndex]].substr(msg.mainArrayIndex, msg.stringSize);\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":1820,"wires":[["c9771181.b3096"]]},{"id":"fd73c81.459c438","type":"switch","z":"d90a0d04.a8e3b","name":"Ch","property":"lowerOrUpper","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":1900,"wires":[["60b8e83e.104a48"],["34b9c96d.b50386"]]},{"id":"86e389f2.d1a4c8","type":"link out","z":"d90a0d04.a8e3b","name":"RestartLoopTwo_sender","links":["9ab4092f.73e068"],"x":855,"y":2060,"wires":[]},{"id":"63773a24.eb6c24","type":"link in","z":"d90a0d04.a8e3b","name":"RestartLoopTwo","links":["a49e5699.225098","e4e698a1.7561a8"],"x":615,"y":1820,"wires":[["90a12a5c.b5bab8"]]},{"id":"1f889f89.be529","type":"comment","z":"d90a0d04.a8e3b","name":"Restart loop","info":"","x":950,"y":2060,"wires":[]},{"id":"2e4d2f21.e131b","type":"function","z":"d90a0d04.a8e3b","name":"PerformanceMeter_AndCounter","func":"\nvar startCnt = flow.get(\"pstartCnt\");\nif(startCnt++ > flow.get(\"pendCnt\")){\n    const startTime = flow.get(\"pstarttime\");\n\tstartCnt = 0;\n\tconst msPerRequest = (Date.now() - startTime) * flow.get(\"p_1_dividedby_endcnt\");\n\tnode.warn(\"Req per second: \" + ((1.0 / msPerRequest) * 1000.0));\n\tflow.set(\"pstarttime\", Date.now());\n}\nconst totalCnt = flow.get(\"preqTotal\");\nif(totalCnt > flow.get(\"runs_done\")){\n    node.warn(\"Done. Elapsed: \" + ((Date.now() - flow.get(\"BENCHMARK_BEGIN\")) * 0.001));\n    return null;\n}\nflow.set(\"preqTotal\", totalCnt + 1);\nflow.set(\"pstartCnt\", startCnt);\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":2020,"wires":[["133fb509.fed2cb"]]},{"id":"5b0fae9f.43713","type":"change","z":"d90a0d04.a8e3b","name":"InitPerformanceCounts","rules":[{"t":"set","p":"BENCHMARK_BEGIN","pt":"flow","to":"","tot":"date"},{"t":"set","p":"pstarttime","pt":"flow","to":"","tot":"date"},{"t":"set","p":"pendCnt","pt":"flow","to":"60000","tot":"num"},{"t":"set","p":"preqTotal","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"pstartCnt","pt":"flow","to":"0","tot":"str"},{"t":"set","p":"p_1_dividedby_endcnt","pt":"flow","to":"1.0/$flowContext('pendCnt')","tot":"jsonata"},{"t":"set","p":"runs_done","pt":"flow","to":"180220","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1980,"wires":[["6fb753a9.81435c"]]},{"id":"de4481a5.6f0da","type":"change","z":"d90a0d04.a8e3b","name":"IncrementIndices","rules":[{"t":"set","p":"mainArrayIndex","pt":"msg","to":"(mainArrayIndex+1)%MAIN_ARR_SIZE","tot":"jsonata"},{"t":"set","p":"positionArrayIndex","pt":"msg","to":"(positionArrayIndex+1)%HELPER_ARR_SIZE","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":2060,"wires":[["86e389f2.d1a4c8"]]},{"id":"4c4e4bf8.bbedf4","type":"inject","z":"d90a0d04.a8e3b","name":"RunBenchmark","topic":"benchmarkAsciiInput.txt","payload":"d_resources/benchmarkAsciiInput.txt","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":2020,"wires":[["5b0fae9f.43713"]]},{"id":"a49e5699.225098","type":"link out","z":"d90a0d04.a8e3b","name":"RestartLoopTwo_sender","links":["63773a24.eb6c24"],"x":535,"y":1880,"wires":[]},{"id":"b1ee8a36.3a41b8","type":"link in","z":"d90a0d04.a8e3b","name":"links_b_connector_R","links":["c9771181.b3096"],"x":615,"y":1860,"wires":[["18e6423f.75680e"]]},{"id":"c9771181.b3096","type":"link out","z":"d90a0d04.a8e3b","name":"links_b_connector_sender","links":["b1ee8a36.3a41b8"],"x":895,"y":1820,"wires":[]},{"id":"d45c397a.bcb598","type":"link in","z":"d90a0d04.a8e3b","name":"links_b_connector_R","links":["b1ee82b4.a45d1"],"x":615,"y":1900,"wires":[["fd73c81.459c438"]]},{"id":"b1ee82b4.a45d1","type":"link out","z":"d90a0d04.a8e3b","name":"links_b_connector_sender","links":["d45c397a.bcb598"],"x":895,"y":1860,"wires":[]},{"id":"f41b1c05.858b7","type":"link in","z":"d90a0d04.a8e3b","name":"links_b_connector_R","links":["60b8e83e.104a48"],"x":675,"y":1940,"wires":[["927b021f.452aa"]]},{"id":"60b8e83e.104a48","type":"link out","z":"d90a0d04.a8e3b","name":"links_b_connector_sender","links":["f41b1c05.858b7"],"x":935,"y":1880,"wires":[]},{"id":"cf902cbe.ec3de","type":"link in","z":"d90a0d04.a8e3b","name":"links_b_connector_R","links":["34b9c96d.b50386"],"x":675,"y":1980,"wires":[["feb0f39d.23779"]]},{"id":"34b9c96d.b50386","type":"link out","z":"d90a0d04.a8e3b","name":"links_b_connector_sender","links":["cf902cbe.ec3de"],"x":935,"y":1900,"wires":[]},{"id":"dc07f6f3.9bca48","type":"link in","z":"d90a0d04.a8e3b","name":"links_b_connector_R","links":["723bab30.a059c4","da20799f.3d8ee8"],"x":615,"y":2020,"wires":[["2e4d2f21.e131b"]]},{"id":"da20799f.3d8ee8","type":"link out","z":"d90a0d04.a8e3b","name":"links_b_connector_sender","links":["dc07f6f3.9bca48"],"x":869,"y":1940,"wires":[]},{"id":"723bab30.a059c4","type":"link out","z":"d90a0d04.a8e3b","name":"links_b_connector_sender_LoweCaseOut","links":["f06e10ed.a61f3","dc07f6f3.9bca48"],"x":870,"y":1980,"wires":[]},{"id":"133fb509.fed2cb","type":"link out","z":"d90a0d04.a8e3b","name":"links_b_connector_sender","links":["9a2029f7.79ead8"],"x":935,"y":2020,"wires":[]},{"id":"9a2029f7.79ead8","type":"link in","z":"d90a0d04.a8e3b","name":"links_b_connector_R","links":["133fb509.fed2cb"],"x":615,"y":2060,"wires":[["de4481a5.6f0da"]]},{"id":"313ded31.2aa7e2","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["389a3533.f954ca"],"x":715,"y":2160,"wires":[["69848f52.a6056"]]},{"id":"389a3533.f954ca","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["313ded31.2aa7e2"],"x":635,"y":2160,"wires":[]},{"id":"9ab4092f.73e068","type":"link in","z":"d90a0d04.a8e3b","name":"dummyInitializer","links":["86e389f2.d1a4c8"],"x":555,"y":2160,"wires":[["389a3533.f954ca"]]},{"id":"504e16ab.996f18","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["69848f52.a6056"],"x":895,"y":2160,"wires":[["3b3e28af.5d0348"]]},{"id":"69848f52.a6056","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["504e16ab.996f18"],"x":815,"y":2160,"wires":[]},{"id":"c64c3ef.ccf73c","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["3b3e28af.5d0348"],"x":549,"y":2220,"wires":[["b915bd6d.9d625"]]},{"id":"3b3e28af.5d0348","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["c64c3ef.ccf73c"],"x":1015,"y":2160,"wires":[]},{"id":"3a7c84b7.4e4dfc","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["b915bd6d.9d625"],"x":689,"y":2220,"wires":[["4aac1c9b.cda924"]]},{"id":"b915bd6d.9d625","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["3a7c84b7.4e4dfc"],"x":609,"y":2220,"wires":[]},{"id":"b082029d.2901c","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["4aac1c9b.cda924"],"x":849,"y":2220,"wires":[["32ee57c7.4733d8"]]},{"id":"4aac1c9b.cda924","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["b082029d.2901c"],"x":769,"y":2220,"wires":[]},{"id":"a6db10cd.0ee9b","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["32ee57c7.4733d8"],"x":1009,"y":2220,"wires":[["8d30d20e.d2ae"]]},{"id":"32ee57c7.4733d8","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["a6db10cd.0ee9b"],"x":929,"y":2220,"wires":[]},{"id":"f4e87530.9e5768","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["8d30d20e.d2ae"],"x":555,"y":2280,"wires":[["cdad3c27.db153"]]},{"id":"8d30d20e.d2ae","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["f4e87530.9e5768","770e6496.86589c","d6b7b6fe.dd03d8","cb046836.15d808","3e4bf26.5c82e0e","fe3f1f81.a0d03","63a8d3ac.4636bc","bc904567.bc7f68","c7605dc8.c1475","1ff67635.14c73a"],"x":1069,"y":2220,"wires":[]},{"id":"c525dc56.dc003","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["cdad3c27.db153"],"x":695,"y":2280,"wires":[["36509faa.0eebb"]]},{"id":"cdad3c27.db153","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["c525dc56.dc003"],"x":615,"y":2280,"wires":[]},{"id":"de4611ca.a2bc","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["36509faa.0eebb"],"x":875,"y":2280,"wires":[["b5e9552e.948018"]]},{"id":"36509faa.0eebb","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["de4611ca.a2bc"],"x":795,"y":2280,"wires":[]},{"id":"590b53fe.000e3c","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["b5e9552e.948018"],"x":1055,"y":2280,"wires":[["b55e7427.9a1de8"]]},{"id":"b5e9552e.948018","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["590b53fe.000e3c"],"x":975,"y":2280,"wires":[]},{"id":"b55e7427.9a1de8","type":"link out","z":"d90a0d04.a8e3b","name":"dummyLine3EndR","links":["19cc79b3.0d26f6"],"x":1115,"y":2280,"wires":[]},{"id":"19cc79b3.0d26f6","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["b55e7427.9a1de8"],"x":555,"y":2320,"wires":[["c94baf21.78756"]]},{"id":"76100536.fe826c","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["c94baf21.78756"],"x":695,"y":2320,"wires":[["50c4df4e.bbb1f"]]},{"id":"c94baf21.78756","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["76100536.fe826c"],"x":615,"y":2320,"wires":[]},{"id":"bc9afcf8.18c42","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["50c4df4e.bbb1f"],"x":875,"y":2320,"wires":[["fe765ad3.c22f58"]]},{"id":"50c4df4e.bbb1f","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["bc9afcf8.18c42"],"x":795,"y":2320,"wires":[]},{"id":"484ca35d.5d6e2c","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["fe765ad3.c22f58"],"x":1055,"y":2320,"wires":[["60b6f0a9.15dc9"]]},{"id":"fe765ad3.c22f58","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["484ca35d.5d6e2c"],"x":975,"y":2320,"wires":[]},{"id":"60b6f0a9.15dc9","type":"link out","z":"d90a0d04.a8e3b","name":"dummyLine4EndR","links":["b4d17957.603fc8"],"x":1115,"y":2320,"wires":[]},{"id":"b4d17957.603fc8","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["60b6f0a9.15dc9"],"x":555,"y":2360,"wires":[["611b79a1.4d1d98"]]},{"id":"484e6212.5aa7cc","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["611b79a1.4d1d98"],"x":695,"y":2360,"wires":[["fc75f00b.a4e5c"]]},{"id":"611b79a1.4d1d98","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["484e6212.5aa7cc"],"x":615,"y":2360,"wires":[]},{"id":"6a2b5e9e.a798d","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["fc75f00b.a4e5c"],"x":875,"y":2360,"wires":[["42467faf.d21c2"]]},{"id":"fc75f00b.a4e5c","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["6a2b5e9e.a798d"],"x":795,"y":2360,"wires":[]},{"id":"e83a0146.afcf3","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["42467faf.d21c2"],"x":1055,"y":2360,"wires":[["d2fc5f10.eeb29"]]},{"id":"42467faf.d21c2","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["e83a0146.afcf3"],"x":975,"y":2360,"wires":[]},{"id":"d2fc5f10.eeb29","type":"link out","z":"d90a0d04.a8e3b","name":"dummyLine3EndR5","links":["57cd7b33.80c3c4"],"x":1115,"y":2360,"wires":[]},{"id":"57cd7b33.80c3c4","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["d2fc5f10.eeb29"],"x":556,"y":2400,"wires":[["39da6bea.21eaf4"]]},{"id":"9896f1e0.aeccc","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["39da6bea.21eaf4"],"x":696,"y":2400,"wires":[["bb6d2814.ad04d8"]]},{"id":"39da6bea.21eaf4","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["9896f1e0.aeccc"],"x":616,"y":2400,"wires":[]},{"id":"e844c84e.c5b9b8","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["bb6d2814.ad04d8"],"x":876,"y":2400,"wires":[["ca2a4183.775fa"]]},{"id":"bb6d2814.ad04d8","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["e844c84e.c5b9b8"],"x":796,"y":2400,"wires":[]},{"id":"c125a621.36ba38","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["ca2a4183.775fa"],"x":1056,"y":2400,"wires":[["30a57c8f.f0be74"]]},{"id":"ca2a4183.775fa","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["c125a621.36ba38"],"x":976,"y":2400,"wires":[]},{"id":"30a57c8f.f0be74","type":"link out","z":"d90a0d04.a8e3b","name":"dummyLine3EndR6","links":["f8b15120.5b56a"],"x":1116,"y":2400,"wires":[]},{"id":"f8b15120.5b56a","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["30a57c8f.f0be74"],"x":555,"y":2440,"wires":[["d0e1b79.570eb48"]]},{"id":"46696f31.e0f83","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["d0e1b79.570eb48"],"x":695,"y":2440,"wires":[["3bc825e5.c4e94a"]]},{"id":"d0e1b79.570eb48","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["46696f31.e0f83"],"x":615,"y":2440,"wires":[]},{"id":"567b0ae3.9db724","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["3bc825e5.c4e94a"],"x":875,"y":2440,"wires":[["869e5030.45873"]]},{"id":"3bc825e5.c4e94a","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["567b0ae3.9db724"],"x":795,"y":2440,"wires":[]},{"id":"9b7fb78d.fe3318","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["869e5030.45873"],"x":1055,"y":2440,"wires":[["dce1a429.57fe38"]]},{"id":"869e5030.45873","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["9b7fb78d.fe3318"],"x":975,"y":2440,"wires":[]},{"id":"dce1a429.57fe38","type":"link out","z":"d90a0d04.a8e3b","name":"dummyLine3EndR7","links":["9229da81.125e88"],"x":1115,"y":2440,"wires":[]},{"id":"9229da81.125e88","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["dce1a429.57fe38"],"x":555,"y":2480,"wires":[["77c2ac5c.dee814"]]},{"id":"dd13190.64473e8","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["77c2ac5c.dee814"],"x":695,"y":2480,"wires":[["70a232f5.f0732c"]]},{"id":"77c2ac5c.dee814","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["dd13190.64473e8"],"x":615,"y":2480,"wires":[]},{"id":"65ec7803.b27798","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["70a232f5.f0732c"],"x":875,"y":2480,"wires":[["9df1181f.2ecdc8"]]},{"id":"70a232f5.f0732c","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["65ec7803.b27798"],"x":795,"y":2480,"wires":[]},{"id":"225f720a.cf425e","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["9df1181f.2ecdc8"],"x":1055,"y":2480,"wires":[["5c7cacc2.b36ab4"]]},{"id":"9df1181f.2ecdc8","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["225f720a.cf425e"],"x":975,"y":2480,"wires":[]},{"id":"5c7cacc2.b36ab4","type":"link out","z":"d90a0d04.a8e3b","name":"dummyLine3EndR8","links":["fc41662.0e2bc98"],"x":1115,"y":2480,"wires":[]},{"id":"fc41662.0e2bc98","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["5c7cacc2.b36ab4"],"x":555,"y":2520,"wires":[["64318a6b.45c784"]]},{"id":"3078def7.2a57f2","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["64318a6b.45c784"],"x":695,"y":2520,"wires":[["d3196dab.487c9"]]},{"id":"64318a6b.45c784","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["3078def7.2a57f2"],"x":615,"y":2520,"wires":[]},{"id":"4f62ad2d.7cd244","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["d3196dab.487c9"],"x":875,"y":2520,"wires":[["7c3e0c8a.df0da4"]]},{"id":"d3196dab.487c9","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["4f62ad2d.7cd244"],"x":795,"y":2520,"wires":[]},{"id":"efcba2e2.143e","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["7c3e0c8a.df0da4"],"x":1055,"y":2520,"wires":[["446feb0c.198594"]]},{"id":"7c3e0c8a.df0da4","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["efcba2e2.143e"],"x":975,"y":2520,"wires":[]},{"id":"446feb0c.198594","type":"link out","z":"d90a0d04.a8e3b","name":"dummySpecial1Out","links":["693e6945.372bd8"],"x":1115,"y":2520,"wires":[]},{"id":"693e6945.372bd8","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["446feb0c.198594","d9b48ee3.3f17c"],"x":555,"y":2560,"wires":[["c5f32967.b49cc8"]]},{"id":"a52acb05.bfcfa8","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["c5f32967.b49cc8"],"x":695,"y":2560,"wires":[["d63d0814.cb4638"]]},{"id":"c5f32967.b49cc8","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["a52acb05.bfcfa8"],"x":615,"y":2560,"wires":[]},{"id":"66df107d.c68e9","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["d63d0814.cb4638"],"x":875,"y":2560,"wires":[["a20e8712.218d08"]]},{"id":"d63d0814.cb4638","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["66df107d.c68e9"],"x":795,"y":2560,"wires":[]},{"id":"ea99bcfb.ddd9b","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["a20e8712.218d08"],"x":1055,"y":2560,"wires":[["8a97535b.8d248"]]},{"id":"a20e8712.218d08","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["ea99bcfb.ddd9b"],"x":975,"y":2560,"wires":[]},{"id":"8a97535b.8d248","type":"link out","z":"d90a0d04.a8e3b","name":"dummyLine4EndR","links":["e11e85e7.348f08"],"x":1115,"y":2560,"wires":[]},{"id":"e11e85e7.348f08","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["8a97535b.8d248"],"x":555,"y":2600,"wires":[["e018c160.97351"]]},{"id":"10b74192.a9ed1e","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["e018c160.97351"],"x":695,"y":2600,"wires":[["bc1f7b26.571de8"]]},{"id":"e018c160.97351","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["10b74192.a9ed1e"],"x":615,"y":2600,"wires":[]},{"id":"ce390bfe.e05a18","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["bc1f7b26.571de8"],"x":875,"y":2600,"wires":[["e6bc3037.5f07"]]},{"id":"bc1f7b26.571de8","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["ce390bfe.e05a18"],"x":795,"y":2600,"wires":[]},{"id":"c1c4c759.2d96a8","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["e6bc3037.5f07"],"x":1055,"y":2600,"wires":[["36450e5c.457d72"]]},{"id":"e6bc3037.5f07","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["c1c4c759.2d96a8"],"x":975,"y":2600,"wires":[]},{"id":"36450e5c.457d72","type":"link out","z":"d90a0d04.a8e3b","name":"dummyLine3EndR5","links":["30d17439.d389ac"],"x":1115,"y":2600,"wires":[]},{"id":"30d17439.d389ac","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["36450e5c.457d72"],"x":556,"y":2640,"wires":[["3afaf2f8.9f5f6e"]]},{"id":"eb8675d4.75a908","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["3afaf2f8.9f5f6e"],"x":696,"y":2640,"wires":[["bad06c1b.4560e"]]},{"id":"3afaf2f8.9f5f6e","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["eb8675d4.75a908"],"x":616,"y":2640,"wires":[]},{"id":"fd01ffa3.b7c4b","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["bad06c1b.4560e"],"x":876,"y":2640,"wires":[["1d682752.143a89"]]},{"id":"bad06c1b.4560e","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["fd01ffa3.b7c4b"],"x":796,"y":2640,"wires":[]},{"id":"847bff9a.f0ed","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["1d682752.143a89"],"x":1056,"y":2640,"wires":[["1a7416fc.abb569"]]},{"id":"1d682752.143a89","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["847bff9a.f0ed"],"x":976,"y":2640,"wires":[]},{"id":"1a7416fc.abb569","type":"link out","z":"d90a0d04.a8e3b","name":"dummyLine3EndR6","links":["2a923024.1b9b6"],"x":1116,"y":2640,"wires":[]},{"id":"2a923024.1b9b6","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["1a7416fc.abb569"],"x":555,"y":2680,"wires":[["dae3c0aa.f66e3"]]},{"id":"35a8043c.3fa99c","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["dae3c0aa.f66e3"],"x":695,"y":2680,"wires":[["ca3e1615.601908"]]},{"id":"dae3c0aa.f66e3","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["35a8043c.3fa99c"],"x":615,"y":2680,"wires":[]},{"id":"95073961.f62d88","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["ca3e1615.601908"],"x":875,"y":2680,"wires":[["a91e83d8.8480f"]]},{"id":"ca3e1615.601908","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["95073961.f62d88"],"x":795,"y":2680,"wires":[]},{"id":"626478c2.36c298","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["a91e83d8.8480f"],"x":1055,"y":2680,"wires":[["aec9751.3f21288"]]},{"id":"a91e83d8.8480f","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["626478c2.36c298"],"x":975,"y":2680,"wires":[]},{"id":"aec9751.3f21288","type":"link out","z":"d90a0d04.a8e3b","name":"dummyLine3EndR7","links":["db6aa2d7.1143c"],"x":1115,"y":2680,"wires":[]},{"id":"db6aa2d7.1143c","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["aec9751.3f21288"],"x":555,"y":2720,"wires":[["6b24cb7c.16d364"]]},{"id":"999400f.feee2","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["6b24cb7c.16d364"],"x":695,"y":2720,"wires":[["48c04ebc.d19c9"]]},{"id":"6b24cb7c.16d364","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["999400f.feee2"],"x":615,"y":2720,"wires":[]},{"id":"53fe0e1c.c5f87","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["48c04ebc.d19c9"],"x":875,"y":2720,"wires":[["7830aec8.dbfce"]]},{"id":"48c04ebc.d19c9","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["53fe0e1c.c5f87"],"x":795,"y":2720,"wires":[]},{"id":"b4203e7d.1f552","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["7830aec8.dbfce"],"x":1055,"y":2720,"wires":[["4ed47ee1.ded0b"]]},{"id":"7830aec8.dbfce","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["b4203e7d.1f552"],"x":975,"y":2720,"wires":[]},{"id":"4ed47ee1.ded0b","type":"link out","z":"d90a0d04.a8e3b","name":"dummyLine3EndR8","links":["dbd4ac2c.8bde5"],"x":1115,"y":2720,"wires":[]},{"id":"dbd4ac2c.8bde5","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["4ed47ee1.ded0b"],"x":555,"y":2760,"wires":[["7bfa5ef7.ef1a8"]]},{"id":"e5c452cc.8dce4","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["7bfa5ef7.ef1a8"],"x":695,"y":2760,"wires":[["802faaba.c10948"]]},{"id":"7bfa5ef7.ef1a8","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["e5c452cc.8dce4"],"x":615,"y":2760,"wires":[]},{"id":"9ebbe7f1.e6f8f8","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["802faaba.c10948"],"x":875,"y":2760,"wires":[["4dd8f638.11d918"]]},{"id":"802faaba.c10948","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["9ebbe7f1.e6f8f8"],"x":795,"y":2760,"wires":[]},{"id":"a93a9e64.99ca9","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["4dd8f638.11d918"],"x":1055,"y":2760,"wires":[["f2a5815d.ffa0a"]]},{"id":"4dd8f638.11d918","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["a93a9e64.99ca9"],"x":975,"y":2760,"wires":[]},{"id":"f2a5815d.ffa0a","type":"link out","z":"d90a0d04.a8e3b","name":"dummySp2Out","links":["5d775aca.f5d6e4"],"x":1115,"y":2760,"wires":[]},{"id":"5d775aca.f5d6e4","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["f2a5815d.ffa0a"],"x":555,"y":2800,"wires":[["f8710587.8a5cc8"]]},{"id":"9c388b9b.721048","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["f8710587.8a5cc8"],"x":695,"y":2800,"wires":[["6162bb2d.3a1d64"]]},{"id":"f8710587.8a5cc8","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["9c388b9b.721048"],"x":615,"y":2800,"wires":[]},{"id":"fdbd4ac.d6f19b8","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["6162bb2d.3a1d64"],"x":875,"y":2800,"wires":[["2a1887dc.314058"]]},{"id":"6162bb2d.3a1d64","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["fdbd4ac.d6f19b8"],"x":795,"y":2800,"wires":[]},{"id":"7f801612.3013c8","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["2a1887dc.314058"],"x":1055,"y":2800,"wires":[["14794a6.10072b6"]]},{"id":"2a1887dc.314058","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["7f801612.3013c8"],"x":975,"y":2800,"wires":[]},{"id":"14794a6.10072b6","type":"link out","z":"d90a0d04.a8e3b","name":"dummyLine4EndR","links":["8a52e893.47c268"],"x":1115,"y":2800,"wires":[]},{"id":"8a52e893.47c268","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["14794a6.10072b6"],"x":555,"y":2840,"wires":[["1581c317.9fca4d"]]},{"id":"2184ceb0.b130b2","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["1581c317.9fca4d"],"x":695,"y":2840,"wires":[["d0d875d8.591cc8"]]},{"id":"1581c317.9fca4d","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["2184ceb0.b130b2"],"x":615,"y":2840,"wires":[]},{"id":"a2ea5568.03c5a8","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["d0d875d8.591cc8"],"x":875,"y":2840,"wires":[["fc7d2fb5.e5134"]]},{"id":"d0d875d8.591cc8","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["a2ea5568.03c5a8"],"x":795,"y":2840,"wires":[]},{"id":"e2d01916.d0b868","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["fc7d2fb5.e5134"],"x":1055,"y":2840,"wires":[["f0458dac.28a63"]]},{"id":"fc7d2fb5.e5134","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["e2d01916.d0b868"],"x":975,"y":2840,"wires":[]},{"id":"f0458dac.28a63","type":"link out","z":"d90a0d04.a8e3b","name":"dummyLine3EndR5","links":["eed5fdc7.51074"],"x":1115,"y":2840,"wires":[]},{"id":"eed5fdc7.51074","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["f0458dac.28a63"],"x":556,"y":2880,"wires":[["a8e5742e.d75198"]]},{"id":"90f08115.a8d5f","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["a8e5742e.d75198"],"x":696,"y":2880,"wires":[["cfe6410a.2da25"]]},{"id":"a8e5742e.d75198","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["90f08115.a8d5f"],"x":616,"y":2880,"wires":[]},{"id":"fc9aa1cb.491e4","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["cfe6410a.2da25"],"x":876,"y":2880,"wires":[["f275434a.ffad1"]]},{"id":"cfe6410a.2da25","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["fc9aa1cb.491e4"],"x":796,"y":2880,"wires":[]},{"id":"1d2089ab.842296","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["f275434a.ffad1"],"x":1056,"y":2880,"wires":[["c2ce6feb.90d78"]]},{"id":"f275434a.ffad1","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["1d2089ab.842296"],"x":976,"y":2880,"wires":[]},{"id":"c2ce6feb.90d78","type":"link out","z":"d90a0d04.a8e3b","name":"dummyLine3EndR6","links":["2d4fcf49.6dbd2"],"x":1116,"y":2880,"wires":[]},{"id":"2d4fcf49.6dbd2","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["c2ce6feb.90d78"],"x":555,"y":2920,"wires":[["b98f141f.896488"]]},{"id":"d2a8414d.cffb6","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["b98f141f.896488"],"x":695,"y":2920,"wires":[["239cfa0d.e4b256"]]},{"id":"b98f141f.896488","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["d2a8414d.cffb6"],"x":615,"y":2920,"wires":[]},{"id":"dbaa01e7.a5ea5","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["239cfa0d.e4b256"],"x":875,"y":2920,"wires":[["d5b75c02.9237a"]]},{"id":"239cfa0d.e4b256","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["dbaa01e7.a5ea5"],"x":795,"y":2920,"wires":[]},{"id":"f563753c.73fb58","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["d5b75c02.9237a"],"x":1055,"y":2920,"wires":[["137d63e0.1ed1fc"]]},{"id":"d5b75c02.9237a","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["f563753c.73fb58"],"x":975,"y":2920,"wires":[]},{"id":"137d63e0.1ed1fc","type":"link out","z":"d90a0d04.a8e3b","name":"dummyLine3EndR7","links":["2c887434.713f4c"],"x":1115,"y":2920,"wires":[]},{"id":"2c887434.713f4c","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["137d63e0.1ed1fc"],"x":555,"y":2960,"wires":[["605616c7.517088"]]},{"id":"a81d82e7.5e549","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["605616c7.517088"],"x":695,"y":2960,"wires":[["586b4a7c.ee0674"]]},{"id":"605616c7.517088","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["a81d82e7.5e549"],"x":615,"y":2960,"wires":[]},{"id":"f2160496.20fb78","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["586b4a7c.ee0674"],"x":875,"y":2960,"wires":[["af32be21.d4882"]]},{"id":"586b4a7c.ee0674","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["f2160496.20fb78"],"x":795,"y":2960,"wires":[]},{"id":"385d2ea3.686fc2","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["af32be21.d4882"],"x":1055,"y":2960,"wires":[["e7b1d0e7.90973"]]},{"id":"af32be21.d4882","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["385d2ea3.686fc2"],"x":975,"y":2960,"wires":[]},{"id":"e7b1d0e7.90973","type":"link out","z":"d90a0d04.a8e3b","name":"dummyLine3EndR8","links":["b42494.4acc5b7"],"x":1115,"y":2960,"wires":[]},{"id":"b42494.4acc5b7","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["e7b1d0e7.90973"],"x":555,"y":3000,"wires":[["3246f582.15997a"]]},{"id":"f2d4f24c.e7ed5","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["3246f582.15997a"],"x":695,"y":3000,"wires":[["45b9fd7.b24d104"]]},{"id":"3246f582.15997a","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["f2d4f24c.e7ed5"],"x":615,"y":3000,"wires":[]},{"id":"2ae8ebb7.0faac4","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["45b9fd7.b24d104"],"x":875,"y":3000,"wires":[["201c463.e61a5ba"]]},{"id":"45b9fd7.b24d104","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["2ae8ebb7.0faac4"],"x":795,"y":3000,"wires":[]},{"id":"d110a418.15e9e8","type":"link in","z":"d90a0d04.a8e3b","name":"Dummy1R","links":["201c463.e61a5ba"],"x":1055,"y":3000,"wires":[["e4e698a1.7561a8"]]},{"id":"201c463.e61a5ba","type":"link out","z":"d90a0d04.a8e3b","name":"Dummy1Send","links":["d110a418.15e9e8"],"x":975,"y":3000,"wires":[]},{"id":"e4e698a1.7561a8","type":"link out","z":"d90a0d04.a8e3b","name":"dummyLine3EndR9","links":["63773a24.eb6c24"],"x":1115,"y":3000,"wires":[]},{"id":"175a6e14.5ce042","type":"comment","z":"d90a0d04.a8e3b","name":"HugeItemLotsOfLinks","info":"","x":460,"y":1820,"wires":[]},{"id":"18e6423f.75680e","type":"function","z":"d90a0d04.a8e3b","name":"ReadFromBinaryArray","func":"// msg.arrays\n// msg.mainArrayIndex\n// msg.positionArray\n// msg.positionArrayIndex\n// msg.stringSize\n// msg.MAIN_ARR_SIZE\n// msg.HELPER_ARR_SIZE\n// msg.binaryArray\n\nmsg.lowerOrUpper = msg.binaryArray[msg.positionArrayIndex];\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":1860,"wires":[["b1ee82b4.a45d1"]]},{"id":"9a46a532.0be158","type":"change","z":"d90a0d04.a8e3b","name":"FlowToMsg","rules":[{"t":"set","p":"arrays","pt":"msg","to":"arrays","tot":"flow"},{"t":"set","p":"NUMBER_ARRAYS","pt":"msg","to":"NUMBER_ARRAYS","tot":"flow"},{"t":"set","p":"positionArray","pt":"msg","to":"positionArray","tot":"flow"},{"t":"set","p":"binaryArray","pt":"msg","to":"binaryArray","tot":"flow"},{"t":"set","p":"SINGLE_STRING_SIZE","pt":"msg","to":"SINGLE_STRING_SIZE","tot":"flow"},{"t":"set","p":"MAIN_ARR_SIZE","pt":"msg","to":"MAIN_ARR_SIZE","tot":"flow"},{"t":"set","p":"HELPER_ARR_SIZE","pt":"msg","to":"HELPER_ARR_SIZE","tot":"flow"},{"t":"set","p":"stringSize","pt":"msg","to":"SINGLE_STRING_SIZE","tot":"flow"},{"t":"set","p":"runs_done","pt":"msg","to":"runs_done","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1000,"wires":[["7e862589.cfe62c"]]},{"id":"1e90d2c3.774afd","type":"change","z":"d90a0d04.a8e3b","name":"FlowToMsg","rules":[{"t":"set","p":"arrays","pt":"msg","to":"arrays","tot":"flow"},{"t":"set","p":"NUMBER_ARRAYS","pt":"msg","to":"NUMBER_ARRAYS","tot":"flow"},{"t":"set","p":"positionArray","pt":"msg","to":"positionArray","tot":"flow"},{"t":"set","p":"binaryArray","pt":"msg","to":"binaryArray","tot":"flow"},{"t":"set","p":"SINGLE_STRING_SIZE","pt":"msg","to":"SINGLE_STRING_SIZE","tot":"flow"},{"t":"set","p":"MAIN_ARR_SIZE","pt":"msg","to":"MAIN_ARR_SIZE","tot":"flow"},{"t":"set","p":"HELPER_ARR_SIZE","pt":"msg","to":"HELPER_ARR_SIZE","tot":"flow"},{"t":"set","p":"stringSize","pt":"msg","to":"SINGLE_STRING_SIZE","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1480,"wires":[["c30170bc.d6412"]]},{"id":"6fb753a9.81435c","type":"change","z":"d90a0d04.a8e3b","name":"FlowToMsg","rules":[{"t":"set","p":"arrays","pt":"msg","to":"arrays","tot":"flow"},{"t":"set","p":"NUMBER_ARRAYS","pt":"msg","to":"NUMBER_ARRAYS","tot":"flow"},{"t":"set","p":"positionArray","pt":"msg","to":"positionArray","tot":"flow"},{"t":"set","p":"binaryArray","pt":"msg","to":"binaryArray","tot":"flow"},{"t":"set","p":"SINGLE_STRING_SIZE","pt":"msg","to":"SINGLE_STRING_SIZE","tot":"flow"},{"t":"set","p":"MAIN_ARR_SIZE","pt":"msg","to":"MAIN_ARR_SIZE","tot":"flow"},{"t":"set","p":"HELPER_ARR_SIZE","pt":"msg","to":"HELPER_ARR_SIZE","tot":"flow"},{"t":"set","p":"stringSize","pt":"msg","to":"SINGLE_STRING_SIZE","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1920,"wires":[["3fada267.06e85e"]]},{"id":"d5828ae7.c34698","type":"change","z":"d90a0d04.a8e3b","name":"OverrideStringSize","rules":[{"t":"set","p":"SINGLE_STRING_SIZE","pt":"flow","to":"100","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1620,"wires":[[]]},{"id":"2e8dbb86.fb9db4","type":"inject","z":"d90a0d04.a8e3b","name":"Toggle","topic":"benchmarkAsciiInput.txt","payload":"d_resources/benchmarkAsciiInput.txt","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1620,"wires":[["d5828ae7.c34698"]]},{"id":"98b3de7a.02757","type":"function","z":"d90a0d04.a8e3b","name":"PositionArrayIntegersToStrings","func":"\n\n// msg.arrays\n// msg.mainArrayIndex\n// msg.positionArray\n// msg.positionArrayIndex\n// msg.stringSize\n// msg.MAIN_ARR_SIZE\n// msg.HELPER_ARR_SIZE\n// msg.binaryArray\n// msg.NUMBER_ARRAYS\n// msg.ARRAY_LENGTH\n// msg.helper_array\n// msg.bin_array\n// SINGLE_STRING_SIZE\n\nflow.set(\"b_PAinfo\", \"PositionArrayIsStrings\");\n\nvar positionArray = flow.get(\"positionArray\");\npositionArray = positionArray.map(itm => itm.toString());\nflow.set(\"positionArray\", positionArray);","outputs":1,"noerr":0,"x":1210,"y":1200,"wires":[[]]},{"id":"1c6375a7.f40f4a","type":"comment","z":"d90a0d04.a8e3b","name":"Utils - Change array type. Check function to see what it does.","info":"","x":1100,"y":1160,"wires":[]},{"id":"581123d3.1729bc","type":"function","z":"d90a0d04.a8e3b","name":"PositionArrayStringsToIntegers","func":"\n\n// msg.arrays\n// msg.mainArrayIndex\n// msg.positionArray\n// msg.positionArrayIndex\n// msg.stringSize\n// msg.MAIN_ARR_SIZE\n// msg.HELPER_ARR_SIZE\n// msg.binaryArray\n// msg.NUMBER_ARRAYS\n// msg.ARRAY_LENGTH\n// msg.helper_array\n// msg.bin_array\n// SINGLE_STRING_SIZE\nflow.set(\"b_PAinfo\", \"PositionArrayIsNumbers\");\nvar positionArray = flow.get(\"positionArray\");\npositionArray = positionArray.map(itm => Number(itm));\nflow.set(\"positionArray\", positionArray);\n\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":1240,"wires":[[]]},{"id":"e19b604a.faa88","type":"inject","z":"d90a0d04.a8e3b","name":"Fire","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":950,"y":1200,"wires":[["98b3de7a.02757"]]},{"id":"1747845c.e6e7ac","type":"function","z":"d90a0d04.a8e3b","name":"BinArrayToStrings","func":"\n\n// msg.arrays\n// msg.mainArrayIndex\n// msg.bin_array\n// msg.bin_arrayIndex\n// msg.stringSize\n// msg.MAIN_ARR_SIZE\n// msg.HELPER_ARR_SIZE\n// msg.binaryArray\n// msg.NUMBER_ARRAYS\n// msg.ARRAY_LENGTH\n// msg.helper_array\n// msg.bin_array\n// SINGLE_STRING_SIZE\n\nflow.set(\"b_BAinfo\", \"BinArrayIsStrings\");\nvar bin_array = flow.get(\"binaryArray\");\nbin_array = bin_array.map(itm => itm?\"1\":\"0\");\nflow.set(\"binaryArray\", bin_array);\n\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":1280,"wires":[[]]},{"id":"e66e939d.057ac","type":"function","z":"d90a0d04.a8e3b","name":"BinArrayToBooleans","func":"\n\n// msg.arrays\n// msg.mainArrayIndex\n// msg.positionArray\n// msg.positionArrayIndex\n// msg.stringSize\n// msg.MAIN_ARR_SIZE\n// msg.HELPER_ARR_SIZE\n// msg.binaryArray\n// msg.NUMBER_ARRAYS\n// msg.ARRAY_LENGTH\n// msg.helper_array\n// msg.bin_array\n// SINGLE_STRING_SIZE\nflow.set(\"b_BAinfo\", \"BinArrayIsBoolean\");\nvar bin_array = flow.get(\"binaryArray\");\nbin_array = bin_array.map(itm => itm == \"1\" ? true:false);\nflow.set(\"binaryArray\", bin_array);\n\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":1320,"wires":[[]]},{"id":"db57ee25.2cb01","type":"inject","z":"d90a0d04.a8e3b","name":"Fire","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":950,"y":1240,"wires":[["581123d3.1729bc"]]},{"id":"d6e96fc4.497ff","type":"inject","z":"d90a0d04.a8e3b","name":"Fire","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":950,"y":1280,"wires":[["1747845c.e6e7ac"]]},{"id":"8c0d30a8.576ab","type":"inject","z":"d90a0d04.a8e3b","name":"Fire","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":950,"y":1320,"wires":[["e66e939d.057ac"]]},{"id":"47b804f3.57d4dc","type":"function","z":"d90a0d04.a8e3b","name":"BenchmarkUseStringsBinaryArray","func":"// msg.arrays\n// msg.mainArrayIndex\n// msg.positionArray\n// msg.positionArrayIndex\n// msg.stringSize\n// msg.MAIN_ARR_SIZE\n// msg.HELPER_ARR_SIZE\n// msg.binaryArray\n\nnode.warn(\"Running BenchmarkUseStringsBinaryArray\");\n\nvar meter = context.global.performanceMeter;\n\nlet totalRuns = 0;\nconst MAX_RUNS = flow.get(\"runs_done\");\nmeter.initialize(flow.get(\"pendCnt\"));\nwhile(totalRuns++ <= MAX_RUNS)\n{\n    let payload = msg.arrays[msg.positionArray[msg.positionArrayIndex]].substr(msg.mainArrayIndex, msg.SINGLE_STRING_SIZE);\n    const output = msg.binaryArray[msg.positionArrayIndex] === \"1\"?payload.toUpperCase():payload.toLowerCase();\n    meter.notifyEvent();\n    msg.positionArrayIndex = (msg.positionArrayIndex+1)%msg.HELPER_ARR_SIZE;\n    msg.mainArrayIndex  = (msg.mainArrayIndex+1)%msg.MAIN_ARR_SIZE;\n}\n\nnode.warn(\"Done. Elapsed: \" + ((Date.now() - flow.get(\"BENCHMARK_BEGIN\")) * 0.001));\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":920,"wires":[[]]},{"id":"e62f8acb.e5c588","type":"switch","z":"d90a0d04.a8e3b","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"StringsBin","vt":"str"},{"t":"eq","v":"MsgStandard","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":900,"wires":[["47b804f3.57d4dc"],["9842cea1.4adad"]]},{"id":"4adf9f52.488a5","type":"inject","z":"d90a0d04.a8e3b","name":"","topic":"StringsBin","payload":"Run","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":1000,"wires":[["c83b36b5.4087d8"]]},{"id":"894caed7.b27ba","type":"function","z":"d90a0d04.a8e3b","name":"WriteOutInfo","func":"\n\n\nvar i1 = flow.get(\"b_PAinfo\");\nvar i2 = flow.get(\"b_BAinfo\");\n\nnode.warn(i2 + \";;\" + i1);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":900,"wires":[["e62f8acb.e5c588"]]},{"id":"b7992415.8d30a8","type":"change","z":"d90a0d04.a8e3b","name":"TotalRunsPlus1","rules":[{"t":"set","p":"totalRuns","pt":"msg","to":"totalRuns+1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1580,"wires":[["9d24195f.2079d8"]]},{"id":"6eecca37.8279e4","type":"function","z":"d90a0d04.a8e3b","name":"MeterInit","func":"var meter = context.global.performanceMeter;\nmeter.initialize(flow.get(\"pendCnt\"));\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":1500,"wires":[["50ba6c4a.fa48d4"]]},{"id":"5d3d6d53.639d54","type":"comment","z":"d90a0d04.a8e3b","name":"Nodes looping v1 - DOESNT WORK","info":"Like previous, but we loop in connections and not while\n\n\nDobim stack overflow, crash","x":340,"y":1180,"wires":[]},{"id":"bc6bd177.3c3e9","type":"function","z":"d90a0d04.a8e3b","name":"BenchmarkRunExternalLoop","func":"// msg.arrays\n// msg.mainArrayIndex\n// msg.positionArray\n// msg.positionArrayIndex\n// msg.stringSize\n// msg.MAIN_ARR_SIZE\n// msg.HELPER_ARR_SIZE\n// msg.binaryArray\n\n\nlet payload = msg.arrays[msg.positionArray[msg.positionArrayIndex]].substr(msg.mainArrayIndex, msg.SINGLE_STRING_SIZE);\n//node.warn(\"l12\");\nconst lowerOrUpper = msg.binaryArray[msg.positionArrayIndex];\n//node.warn(\"l14\");\nconst output = lowerOrUpper?payload.toUpperCase():payload.toLowerCase();\n//node.warn(\"l16\");\nmsg.positionArrayIndex = (msg.positionArrayIndex+1)%msg.HELPER_ARR_SIZE;\nmsg.mainArrayIndex  = (msg.mainArrayIndex+1)%msg.MAIN_ARR_SIZE;\n//node.warn(\"l18\");\nmsg.totalRuns += 1;\n\n// node.warn(\"done: \" + msg.totalRuns);\n// node.warn(\"max: \" + msg.MAX_RUNS);\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":1260,"wires":[["f76ea219.595da"]]},{"id":"c73a292e.a88748","type":"change","z":"d90a0d04.a8e3b","name":"PrepareExternalLoop","rules":[{"t":"set","p":"totalRuns","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"MAX_RUNS","pt":"msg","to":"runs_done","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1220,"wires":[["bc6bd177.3c3e9"]]},{"id":"f76ea219.595da","type":"switch","z":"d90a0d04.a8e3b","name":"while(totalRuns<MAX_RUNS)","property":"totalRuns","propertyType":"msg","rules":[{"t":"lt","v":"MAX_RUNS","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":1340,"wires":[["bc6bd177.3c3e9"],["9867d54a.dce258"]]},{"id":"9867d54a.dce258","type":"function","z":"d90a0d04.a8e3b","name":"WriteFinalTime","func":"// msg.arrays\n// msg.mainArrayIndex\n// msg.positionArray\n// msg.positionArrayIndex\n// msg.stringSize\n// msg.MAIN_ARR_SIZE\n// msg.HELPER_ARR_SIZE\n// msg.binaryArray\n\nnode.warn(\"Done. Elapsed: \" + ((Date.now() - flow.get(\"BENCHMARK_BEGIN\")) * 0.001));\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":1380,"wires":[[]]},{"id":"c837d956.1bd808","type":"change","z":"d90a0d04.a8e3b","name":"SetInitialIndices","rules":[{"t":"set","p":"mainArrayIndex","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"positionArrayIndex","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":1220,"wires":[["c73a292e.a88748"]]},{"id":"bdc9fedd.b616e","type":"inject","z":"d90a0d04.a8e3b","name":"RunBenchmark","topic":"benchmarkAsciiInput.txt","payload":"d_resources/benchmarkAsciiInput.txt","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1260,"wires":[["818cdee2.ad638","7f63a876.78b648"]]},{"id":"818cdee2.ad638","type":"change","z":"d90a0d04.a8e3b","name":"InitPerformanceCounts","rules":[{"t":"set","p":"BENCHMARK_BEGIN","pt":"flow","to":"","tot":"date"},{"t":"set","p":"pstarttime","pt":"flow","to":"","tot":"date"},{"t":"set","p":"pendCnt","pt":"flow","to":"299","tot":"num"},{"t":"set","p":"preqTotal","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"pstartCnt","pt":"flow","to":"0","tot":"str"},{"t":"set","p":"p_1_dividedby_endcnt","pt":"flow","to":"1.0/$flowContext('pendCnt')","tot":"jsonata"},{"t":"set","p":"runs_done","pt":"flow","to":"30000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":1260,"wires":[[]]},{"id":"7f63a876.78b648","type":"change","z":"d90a0d04.a8e3b","name":"FlowToMsg","rules":[{"t":"set","p":"arrays","pt":"msg","to":"arrays","tot":"flow"},{"t":"set","p":"NUMBER_ARRAYS","pt":"msg","to":"NUMBER_ARRAYS","tot":"flow"},{"t":"set","p":"positionArray","pt":"msg","to":"positionArray","tot":"flow"},{"t":"set","p":"binaryArray","pt":"msg","to":"binaryArray","tot":"flow"},{"t":"set","p":"SINGLE_STRING_SIZE","pt":"msg","to":"SINGLE_STRING_SIZE","tot":"flow"},{"t":"set","p":"MAIN_ARR_SIZE","pt":"msg","to":"MAIN_ARR_SIZE","tot":"flow"},{"t":"set","p":"HELPER_ARR_SIZE","pt":"msg","to":"HELPER_ARR_SIZE","tot":"flow"},{"t":"set","p":"stringSize","pt":"msg","to":"SINGLE_STRING_SIZE","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":1220,"wires":[["c837d956.1bd808"]]},{"id":"aca9dc9d.22325","type":"change","z":"d90a0d04.a8e3b","name":"OverrideStringSize","rules":[{"t":"set","p":"SINGLE_STRING_SIZE","pt":"flow","to":"100","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1340,"wires":[[]]},{"id":"bb37391d.a1e578","type":"inject","z":"d90a0d04.a8e3b","name":"Toggle","topic":"benchmarkAsciiInput.txt","payload":"d_resources/benchmarkAsciiInput.txt","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1340,"wires":[["aca9dc9d.22325"]]},{"id":"c57190ce.73773","type":"comment","z":"d90a0d04.a8e3b","name":"Generate the arrays that I use for array test. Slow process with high parameters.","info":"","x":340,"y":40,"wires":[]},{"id":"9810ece7.7e812","type":"comment","z":"d90a0d04.a8e3b","name":"for parameters: Modify SetGenerateParameters ","info":"","x":400,"y":240,"wires":[]},{"id":"eb986f5a.c8775","type":"comment","z":"d90a0d04.a8e3b","name":"Read generated file. Make sure you set the path correctly.","info":"","x":290,"y":480,"wires":[]},{"id":"e8a609ed.6abb88","type":"comment","z":"d90a0d04.a8e3b","name":"Arrays benchmark flow. With nodes.","info":"","x":820,"y":420,"wires":[]},{"id":"adb8c28d.5c0b4","type":"comment","z":"d90a0d04.a8e3b","name":"Benchmark for strings, using single function node. Read comment notes for some info.","info":"Some moment I noticed unexplained boost in perfromane.\nI tried to find the reason. So I made multiple\nways of this benchmark, that can be run with\nbuttons below. We present some arrays in different\nforms. Like \"1\" and \"2\" instead of true, false.","x":420,"y":840,"wires":[]}]