node-red flows/HttpGetDatabaseTable.json
[{"id":"c86a3558.c79b18","type":"subflow","name":"GetDatabaseTableDataMasterReal","info":"","category":"","in":[{"x":280,"y":780,"wires":[{"id":"b5edc431.d349d8"}]}],"out":[{"x":700,"y":660,"wires":[{"id":"29032b53.b01cf4","port":0}]}]},{"id":"29032b53.b01cf4","type":"sqlite","z":"c86a3558.c79b18","mydb":"9e36ba0.1570448","sqlquery":"msg.topic","sql":"select * from $table;","name":"WeatherTableGetAll","x":540,"y":660,"wires":[[]]},{"id":"b5edc431.d349d8","type":"function","z":"c86a3558.c79b18","name":"GetDataFromMessageAndPrepareSqlQueryMaster","func":"//node.warn(\"Setting DB table name\");\n\nfunction getFromMessage(rootProperty, default_ = null)\n{\n    // db_item is top priority\n    if (typeof msg[\"db_\" + rootProperty ] !== 'undefined'){\n        return msg[\"db_\" + rootProperty ];\n    }\n    \n    // msg.req.query.item property (http get parameter) is mid priority\n    try{\n    if (typeof msg.req.query[rootProperty] !== 'undefined'){\n        return msg.req.query[rootProperty];\n    //    node.warn(\"table name set 2: \" + table_name);\n    }\n    }catch(ignored)\n    {}\n    \n    // msg.item property is lowest priority\n    if (typeof msg[rootProperty] !== 'undefined'){\n        return msg[rootProperty];\n    //    node.warn(\"table name set 1: \" + table_name);\n    }\n    return default_;\n}\n\nmsg._is_debug = getFromMessage(\"do_debug\", false) || getFromMessage(\"debug\", false);\n\nvar order_by_table = \"timestamp\";\nvar table_name = getFromMessage(\"table\");\nvar where_date_number = getFromMessage(\"db_time_max_age\");\nvar where_date_unit = getFromMessage(\"db_time_max_age_unit\", \"Hour\");\nvar db_ms_start = getFromMessage(\"db_ms_start\");\nvar db_ms_end = getFromMessage(\"db_ms_end\");\nvar verbose = getFromMessage(\"verbose\");\nvar sql_finisher = \"\";\nvar timePart = null;\nvar selectpart = \"select *\";\nif (getFromMessage(\"db_getstandardtime\") == true || getFromMessage(\"db_getstandardtime\") == \"true\"){\n    selectpart += \", datetime(Timestamp, 'unixepoch', 'localtime') as humanTime\"\n}\nselectpart += \" from \";\n\n// If we have advanced format, ignore \"since\" format\n\nif(db_ms_start != null){\n    db_ms_start_num = parseInt(db_ms_start);\n    db_ms_end_num = parseInt(db_ms_end);\n    \n    sql_finisher += \" WHERE \\\"timestamp\\\" >= \" + db_ms_start_num;\n    if (!isNaN(db_ms_end_num)){\n        sql_finisher += \" and \\\"timestamp\\\" <= \" + db_ms_end_num;\n    }\n}else if (where_date_number != null){\n    timePart =  where_date_number+\" \" + where_date_unit;\n}\nif (timePart != null){\n    sql_finisher += \" WHERE \\\"timestamp\\\" >= (select timestamp from WeatherTable WHERE datetime(\\\"timestamp\\\", 'unixepoch')  < datetime('now', '-\"+timePart+\"') order by timestamp desc limit 1)\";\n}\nif(getFromMessage(\"db_desc\")){\n    sql_finisher += \" order by \"+order_by_table+\" desc\";\n}\n//node.warn(\"Final tablename: \" + table_name);\nmsg.topic=selectpart +table_name+ sql_finisher +\";\"\nif(verbose){\n    node.warn(\"SQL is: \" + msg.topic);\n}\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":740,"wires":[["29032b53.b01cf4"]]},{"id":"9e36ba0.1570448","type":"sqlitedb","z":"","db":"$(NWEATHERDB)"},{"id":"9e97bba9.6a9338","type":"http in","z":"d2fc41f8.39163","name":"","url":"/weathertable","method":"get","upload":false,"swaggerDoc":"","x":110,"y":100,"wires":[["43ab1115.cf817","9ad7dc53.689a5"]]},{"id":"6be1b278.64b24c","type":"http response","z":"d2fc41f8.39163","name":"TableHttpResponse","statusCode":"","headers":{"content-type":"text/html"},"x":510,"y":260,"wires":[]},{"id":"43ab1115.cf817","type":"change","z":"d2fc41f8.39163","name":"SetDefaultTableDesc","rules":[{"t":"set","p":"table","pt":"msg","to":"WeatherTable","tot":"str"},{"t":"set","p":"db_desc","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":140,"wires":[["14205056.c4acd"]]},{"id":"af1820b3.8f0c6","type":"comment","z":"d2fc41f8.39163","name":"HTTP get database table.","info":"","x":130,"y":20,"wires":[]},{"id":"9ad7dc53.689a5","type":"debug","z":"d2fc41f8.39163","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":70,"y":60,"wires":[]},{"id":"a4c26d8a.aa298","type":"function","z":"d2fc41f8.39163","name":"InsertDatabaseDataIntoHtmlTemplate","func":"\n// p_database_content\n// p_html\n\nvar htmlTable = [];\nvar headers = [];\nvar debug = msg._is_debug\n\nif (debug){\n    var msgstring = JSON.stringify(msg.p_database_content, null, 2);\n    node.warn(msgstring);\n    htmlTable.push(\"<p>\",\n        msgstring,\"</p>\")\n}\n\nvar databaseRows = msg.p_database_content;\nif(databaseRows.length < 1){\n    msg.payload = msg.p_html.replace(\"<!--NODE-RED-CONTENT-->\", \"<tr><td>The Exception Table Is Empty!!</td></tr>\");\n    return msg;\n}\n\nhtmlTable.push(\"<tr>\")\n// get first object in database values and get headers.\nvar firstRow = databaseRows[0];\nfor (var property in firstRow) {\n    if (firstRow.hasOwnProperty(property)) {\n        htmlTable.push(\"<th>\");\n        htmlTable.push(property);\n        htmlTable.push(\"</th>\");\n        headers.push(property);\n    } \n}\nhtmlTable.push(\"</tr>\");\n\n// Iterate over the rows and fill the table\nfor (var r = 0; r<databaseRows.length; ++r) {\n   // node.warn(databaseRows[r][headers[0]]);\n    //return {payload:databaseRows[r]['SourceNode']};\n    htmlTable.push(\"<tr>\")\n    for(var i = 0; i<headers.length; ++i){\n        htmlTable.push(\"<td>\");\n        htmlTable.push(databaseRows[r][headers[i]]);\n        htmlTable.push(\"</td>\");\n    }\n    htmlTable.push(\"</tr>\");\n}\nmsg.payload = msg.p_html.replace(\"<!--NODE-RED-CONTENT-->\", htmlTable.join(\"\"));\nreturn msg;\nfor (var i = 0; i < msg.p_database_content.length; i++) {\n  someFn(arr[i]);\n}\n\nhtmlTable.push(\n  \"<tr>\",\n    \"<td>,Alfreds Futterkiste</td>\",\n    \"<td>Maria Anders</td>\",\n    \"<td>Germany</td>\",\n  \"</tr>\"\n);\nreturn html.join(\"\");\n\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":300,"wires":[["6be1b278.64b24c"]]},{"id":"4574f67a.376c78","type":"file in","z":"d2fc41f8.39163","name":"","filename":"d_resources/simpleTableForDatabase.html","format":"utf8","chunk":false,"sendError":false,"x":190,"y":260,"wires":[["4846390d.a2aad8"]]},{"id":"b04db3e3.31986","type":"comment","z":"d2fc41f8.39163","name":"Uporabimo change node-e .. da payload vedno premaknemo na drug property in ga s tem ne prepišemo","info":"","x":370,"y":340,"wires":[]},{"id":"7f993613.caba18","type":"change","z":"d2fc41f8.39163","name":"","rules":[{"t":"set","p":"p_database_content","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":220,"wires":[["4574f67a.376c78"]]},{"id":"4846390d.a2aad8","type":"change","z":"d2fc41f8.39163","name":"","rules":[{"t":"set","p":"p_html","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":100,"y":300,"wires":[["a4c26d8a.aa298"]]},{"id":"14205056.c4acd","type":"subflow:c86a3558.c79b18","z":"d2fc41f8.39163","name":"GetDatabaseTable","x":110,"y":180,"wires":[["7f993613.caba18"]]}]