node-red flows/MqttSingleTrasher.json
[{"id":"5da01c30.7efc14","type":"mqtt out","z":"abdd40d2.67fd1","name":"A","topic":"nrin","qos":"2","retain":"false","broker":"cd261276.26918","x":870,"y":200,"wires":[]},{"id":"73dc93c7.41cefc","type":"mqtt in","z":"abdd40d2.67fd1","name":"B","topic":"nrmqttspammer","qos":"2","broker":"cd261276.26918","x":490,"y":160,"wires":[["f578b1a8.32979"]]},{"id":"e5886398.046e5","type":"inject","z":"abdd40d2.67fd1","name":"StartChaos","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":300,"wires":[["75a5ec53.87f6d4"]]},{"id":"812493d.85d2a7","type":"function","z":"abdd40d2.67fd1","name":"PrepareMqttMsg","func":"\nvar traveller = JSON.stringify({payload:\"just NR thing\",\n\"respond_to\":\"nrmqttspammer\"});\n\n\nreturn {payload:traveller};","outputs":1,"noerr":0,"x":470,"y":240,"wires":[["4dea279b.208a38"]]},{"id":"54c94573.5168dc","type":"function","z":"abdd40d2.67fd1","name":"ConfirmMessageOk","func":"if(!msg.payload.startsWith(\"MqResponse\")){\n    node.error(\"HUGE PROBLEM! RETURNED THING IS NOT CORRECT!\");\n}\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":200,"wires":[["812493d.85d2a7"]]},{"id":"75a5ec53.87f6d4","type":"change","z":"abdd40d2.67fd1","name":"InitPerformanceCounts","rules":[{"t":"set","p":"pstarttime","pt":"flow","to":"","tot":"date"},{"t":"set","p":"pendCnt","pt":"flow","to":"2500","tot":"num"},{"t":"set","p":"preqTotal","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"pstartCnt","pt":"flow","to":"0","tot":"str"},{"t":"set","p":"p_1_dividedby_endcnt","pt":"flow","to":"1.0/$flowContext('pendCnt')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":300,"wires":[["812493d.85d2a7"]]},{"id":"f578b1a8.32979","type":"function","z":"abdd40d2.67fd1","name":"PerformanceMeter","func":"\nvar startCnt = flow.get(\"pstartCnt\");\nif(startCnt++ > flow.get(\"pendCnt\")){\n    const startTime = flow.get(\"pstarttime\");\n\tstartCnt = 0;\n\tconst msPerRequest = (Date.now() - startTime) * flow.get(\"p_1_dividedby_endcnt\");\n\tnode.warn(\"Req per second: \" + ((1.0 / msPerRequest) * 1000.0));\n\tflow.set(\"pstarttime\", Date.now());\n}\nflow.set(\"pstartCnt\", startCnt);\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":160,"wires":[["54c94573.5168dc"]]},{"id":"4dea279b.208a38","type":"function","z":"abdd40d2.67fd1","name":"OnOffSwitch_v2_Q_defaultOn","func":"var enabled = context.get('enabled');\nif(enabled == null){\n  enabled = true;\n  node.status({fill:enabled?\"green\":\"red\",shape:\"ring\",text:enabled?\"on\":\"off\"});\n}\nif(msg.payload === \"_LogToggle\" && msg.topic == \"dCustomLogger\") {\n    enabled = !enabled;\n    context.set('enabled', enabled);\n    var sText = enabled?\"on\":\"off\";\n    node.status({fill:enabled?\"green\":\"red\",shape:\"ring\",text:sText});\n    return null;\n}\n\nif(!enabled) return null;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":240,"wires":[["5da01c30.7efc14"]]},{"id":"f635669d.592478","type":"inject","z":"abdd40d2.67fd1","name":"EnableMqttSpam","topic":"dCustomLogger","payload":"_LogToggle","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":840,"y":280,"wires":[["4dea279b.208a38"]]},{"id":"fbfe76ce.967968","type":"comment","z":"abdd40d2.67fd1","name":"Mqtt benchmark with single loop","info":"","x":470,"y":120,"wires":[]},{"id":"cd261276.26918","type":"mqtt-broker","z":"","name":"B1","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]