node-red flows/MqttSuperTrasher.json
[{"id":"853f2609.3a15f8","type":"mqtt out","z":"9824d923.099aa8","name":"A","topic":"tjsflow","qos":"2","retain":"false","broker":"79bd312a.3912d","x":970,"y":120,"wires":[]},{"id":"410c7922.612688","type":"mqtt in","z":"9824d923.099aa8","name":"B","topic":"nrmqttspammer1","qos":"2","broker":"79bd312a.3912d","x":430,"y":120,"wires":[["ff3f7369.52874"]]},{"id":"6f02359c.b34c3c","type":"inject","z":"9824d923.099aa8","name":"StartChaos","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":340,"wires":[["d0482717.9d1718","e01c4e6f.8c65","56d3640d.4357ec","1db62f46.8701b1","dab649b7.dc0b68"]]},{"id":"1a31b3f5.b4e87c","type":"function","z":"9824d923.099aa8","name":"PrepareMqttMsg","func":"\nvar traveller = JSON.stringify({payload:\"just NR thing\",\n\"respond_to\":\"nrmqttspammer1\"});\n\n\nreturn {payload:traveller};","outputs":1,"noerr":0,"x":570,"y":340,"wires":[["9134d345.e55fe"]]},{"id":"7a9a9b5e.28f554","type":"function","z":"9824d923.099aa8","name":"ConfirmMessageOk","func":"if(!msg.payload.startsWith(\"MqResponse\")){\n    node.error(\"HUGE PROBLEM! RETURNED THING IS NOT CORRECT!\");\n}\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":280,"wires":[["1a31b3f5.b4e87c"]]},{"id":"d0482717.9d1718","type":"change","z":"9824d923.099aa8","name":"InitPerformanceCounts","rules":[{"t":"set","p":"pstarttime","pt":"flow","to":"","tot":"date"},{"t":"set","p":"pendCnt","pt":"flow","to":"2500","tot":"num"},{"t":"set","p":"preqTotal","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"pstartCnt","pt":"flow","to":"0","tot":"str"},{"t":"set","p":"p_1_dividedby_endcnt","pt":"flow","to":"1.0/$flowContext('pendCnt')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":340,"wires":[["1a31b3f5.b4e87c"]]},{"id":"ff3f7369.52874","type":"function","z":"9824d923.099aa8","name":"PerformanceMeter","func":"\nvar startCnt = flow.get(\"pstartCnt\");\nif(startCnt++ > flow.get(\"pendCnt\")){\n    const startTime = flow.get(\"pstarttime\");\n\tstartCnt = 0;\n\tconst msPerRequest = (Date.now() - startTime) * flow.get(\"p_1_dividedby_endcnt\");\n\tnode.warn(\"Req per second: \" + ((1.0 / msPerRequest) * 1000.0));\n\tflow.set(\"pstarttime\", Date.now());\n}\nflow.set(\"pstartCnt\", startCnt);\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":200,"wires":[["7a9a9b5e.28f554"]]},{"id":"9134d345.e55fe","type":"function","z":"9824d923.099aa8","name":"OnOffSwitch_v2_Q_defaultOn","func":"var enabled = context.get('enabled');\nif(enabled == null){\n  enabled = true;\n  node.status({fill:enabled?\"green\":\"red\",shape:\"ring\",text:enabled?\"on\":\"off\"});\n}\nif(msg.payload === \"_LogToggle\" && msg.topic == \"dCustomLogger\") {\n    enabled = !enabled;\n    context.set('enabled', enabled);\n    var sText = enabled?\"on\":\"off\";\n    node.status({fill:enabled?\"green\":\"red\",shape:\"ring\",text:sText});\n    return null;\n}\n\nif(!enabled) return null;\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":340,"wires":[["853f2609.3a15f8"]]},{"id":"b3447346.f757f","type":"inject","z":"9824d923.099aa8","name":"EnableMqttSpam","topic":"dCustomLogger","payload":"_LogToggle","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":900,"y":380,"wires":[["9134d345.e55fe"]]},{"id":"3a8461cf.35026e","type":"mqtt in","z":"9824d923.099aa8","name":"Loop2","topic":"nrmqttspammer11","qos":"2","broker":"79bd312a.3912d","x":290,"y":440,"wires":[["e01c4e6f.8c65"]]},{"id":"e01c4e6f.8c65","type":"function","z":"9824d923.099aa8","name":"PrepareMqttMsg1","func":"\nvar traveller = JSON.stringify({payload:\"anth NR thing\",\n\"respond_to\":\"nrmqttspammer11\"});\n\n\nreturn {payload:traveller};","outputs":1,"noerr":0,"x":510,"y":440,"wires":[["9134d345.e55fe"]]},{"id":"3b92bb55.f4e364","type":"mqtt in","z":"9824d923.099aa8","name":"Loop3","topic":"nrmqttspammer12","qos":"2","broker":"79bd312a.3912d","x":290,"y":500,"wires":[["56d3640d.4357ec"]]},{"id":"56d3640d.4357ec","type":"function","z":"9824d923.099aa8","name":"PrepareMqttMsg1","func":"\nvar traveller = JSON.stringify({payload:\"anth NR thing\",\n\"respond_to\":\"nrmqttspammer12\"});\n\n\nreturn {payload:traveller};","outputs":1,"noerr":0,"x":510,"y":500,"wires":[["9134d345.e55fe"]]},{"id":"54ddabae.449d34","type":"mqtt in","z":"9824d923.099aa8","name":"Loop4","topic":"nrmqttspammer13","qos":"2","broker":"79bd312a.3912d","x":290,"y":580,"wires":[["1db62f46.8701b1"]]},{"id":"1db62f46.8701b1","type":"function","z":"9824d923.099aa8","name":"PrepareMqttMsg1","func":"\nvar traveller = JSON.stringify({payload:\"anth NR thing\",\n\"respond_to\":\"nrmqttspammer13\"});\n\n\nreturn {payload:traveller};","outputs":1,"noerr":0,"x":510,"y":580,"wires":[["9134d345.e55fe"]]},{"id":"10f7b697.b92819","type":"mqtt in","z":"9824d923.099aa8","name":"Loop5","topic":"nrmqttspammer14","qos":"2","broker":"79bd312a.3912d","x":290,"y":660,"wires":[["dab649b7.dc0b68"]]},{"id":"dab649b7.dc0b68","type":"function","z":"9824d923.099aa8","name":"PrepareMqttMsg1","func":"\nvar traveller = JSON.stringify({payload:\"anth NR thing\",\n\"respond_to\":\"nrmqttspammer14\"});\n\n\nreturn {payload:traveller};","outputs":1,"noerr":0,"x":510,"y":660,"wires":[["9134d345.e55fe"]]},{"id":"6d4973ef.ffd14c","type":"inject","z":"9824d923.099aa8","name":"SingleItem","topic":"","payload":"Tis a useless timestamp","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":780,"y":120,"wires":[["853f2609.3a15f8"]]},{"id":"3fd2f0b6.05da1","type":"comment","z":"9824d923.099aa8","name":"For MQTT testing. Uses multiple loops to send many messages.","info":"","x":350,"y":60,"wires":[]},{"id":"1122ddbb.793052","type":"comment","z":"9824d923.099aa8","name":"in A node set topic of tested item","info":"","x":890,"y":80,"wires":[]},{"id":"79bd312a.3912d","type":"mqtt-broker","z":"","name":"B1","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]