node-red_flows/BenchmarkMqtt.json
[{"id":"f30fea9.284e618","type":"mqtt out","z":"abdd40d2.67fd1","name":"B","topic":"","qos":"2","retain":"false","broker":"8b7a9c11.f7792","x":750,"y":800,"wires":[]},{"id":"ad8c7c6f.f6aeb","type":"mqtt in","z":"abdd40d2.67fd1","name":"A","topic":"nrin","qos":"2","broker":"8b7a9c11.f7792","x":570,"y":760,"wires":[["72dbba4b.ba2254"]]},{"id":"fac192b0.ffc07","type":"function","z":"abdd40d2.67fd1","name":"PutOutput","func":"\nvar received = JSON.parse(msg.payload);\nmsg.payload = \"MqResponse: \" + msg.r_gend;\nmsg.topic = received.respond_to;\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":760,"wires":[["f30fea9.284e618"]]},{"id":"72dbba4b.ba2254","type":"function","z":"abdd40d2.67fd1","name":"PerformanceMeter","func":"\nvar startCnt = flow.get(\"pstartCnt\");\nif(startCnt++ > flow.get(\"pendCnt\")){\n    const startTime = flow.get(\"pstarttime\");\n\tstartCnt = 0;\n\tconst msPerRequest = (Date.now() - startTime) * flow.get(\"p_1_dividedby_endcnt\");\n\tnode.warn(\"Req per second: \" + ((1.0 / msPerRequest) * 1000.0));\n\tflow.set(\"pstarttime\", Date.now());\n}\nflow.set(\"pstartCnt\", startCnt);\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":760,"wires":[["fac192b0.ffc07"]]},{"id":"147edf39.b4e8c1","type":"change","z":"abdd40d2.67fd1","name":"InitPerformanceCounts","rules":[{"t":"set","p":"pstarttime","pt":"flow","to":"","tot":"date"},{"t":"set","p":"pendCnt","pt":"flow","to":"30000","tot":"num"},{"t":"set","p":"preqTotal","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"pstartCnt","pt":"flow","to":"0","tot":"str"},{"t":"set","p":"p_1_dividedby_endcnt","pt":"flow","to":"1.0/$flowContext('pendCnt')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":720,"wires":[[]]},{"id":"6279480a.55c308","type":"inject","z":"abdd40d2.67fd1","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":590,"y":680,"wires":[["147edf39.b4e8c1"]]},{"id":"cf8f5a75.87d748","type":"comment","z":"abdd40d2.67fd1","name":"In A set tipic to listen","info":"","x":570,"y":800,"wires":[]},{"id":"8b7a9c11.f7792","type":"mqtt-broker","z":"","name":"B1","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]