node-red_flows/ChartDayOfData.json
[{"id":"c86a3558.c79b18","type":"subflow","name":"GetDatabaseTableDataMasterReal","info":"","category":"","in":[{"x":280,"y":780,"wires":[{"id":"b5edc431.d349d8"}]}],"out":[{"x":700,"y":660,"wires":[{"id":"29032b53.b01cf4","port":0}]}]},{"id":"29032b53.b01cf4","type":"sqlite","z":"c86a3558.c79b18","mydb":"9e36ba0.1570448","sqlquery":"msg.topic","sql":"select * from $table;","name":"WeatherTableGetAll","x":540,"y":660,"wires":[[]]},{"id":"b5edc431.d349d8","type":"function","z":"c86a3558.c79b18","name":"GetDataFromMessageAndPrepareSqlQueryMaster","func":"//node.warn(\"Setting DB table name\");\n\nfunction getFromMessage(rootProperty, default_ = null)\n{\n    // db_item is top priority\n    if (typeof msg[\"db_\" + rootProperty ] !== 'undefined'){\n        return msg[\"db_\" + rootProperty ];\n    }\n    \n    // msg.req.query.item property (http get parameter) is mid priority\n    try{\n    if (typeof msg.req.query[rootProperty] !== 'undefined'){\n        return msg.req.query[rootProperty];\n    //    node.warn(\"table name set 2: \" + table_name);\n    }\n    }catch(ignored)\n    {}\n    \n    // msg.item property is lowest priority\n    if (typeof msg[rootProperty] !== 'undefined'){\n        return msg[rootProperty];\n    //    node.warn(\"table name set 1: \" + table_name);\n    }\n    return default_;\n}\n\nmsg._is_debug = getFromMessage(\"do_debug\", false) || getFromMessage(\"debug\", false);\n\nvar order_by_table = \"timestamp\";\nvar table_name = getFromMessage(\"table\");\nvar where_date_number = getFromMessage(\"db_time_max_age\");\nvar where_date_unit = getFromMessage(\"db_time_max_age_unit\", \"Hour\");\nvar db_ms_start = getFromMessage(\"db_ms_start\");\nvar db_ms_end = getFromMessage(\"db_ms_end\");\nvar verbose = getFromMessage(\"verbose\");\nvar sql_finisher = \"\";\nvar timePart = null;\nvar selectpart = \"select *\";\nif (getFromMessage(\"db_getstandardtime\") == true || getFromMessage(\"db_getstandardtime\") == \"true\"){\n    selectpart += \", datetime(Timestamp, 'unixepoch', 'localtime') as humanTime\"\n}\nselectpart += \" from \";\n\n// If we have advanced format, ignore \"since\" format\n\nif(db_ms_start != null){\n    db_ms_start_num = parseInt(db_ms_start);\n    db_ms_end_num = parseInt(db_ms_end);\n    \n    sql_finisher += \" WHERE \\\"timestamp\\\" >= \" + db_ms_start_num;\n    if (!isNaN(db_ms_end_num)){\n        sql_finisher += \" and \\\"timestamp\\\" <= \" + db_ms_end_num;\n    }\n}else if (where_date_number != null){\n    timePart =  where_date_number+\" \" + where_date_unit;\n}\nif (timePart != null){\n    sql_finisher += \" WHERE \\\"timestamp\\\" >= (select timestamp from WeatherTable WHERE datetime(\\\"timestamp\\\", 'unixepoch')  < datetime('now', '-\"+timePart+\"') order by timestamp desc limit 1)\";\n}\nif(getFromMessage(\"db_desc\")){\n    sql_finisher += \" order by \"+order_by_table+\" desc\";\n}\n//node.warn(\"Final tablename: \" + table_name);\nmsg.topic=selectpart +table_name+ sql_finisher +\";\"\nif(verbose){\n    node.warn(\"SQL is: \" + msg.topic);\n}\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":740,"wires":[["29032b53.b01cf4"]]},{"id":"9e36ba0.1570448","type":"sqlitedb","z":"","db":"$(NWEATHERDB)"},{"id":"206bfc88.65ccd4","type":"comment","z":"572b50ca.8c942","name":"On page load, set default values if not already","info":"","x":190,"y":40,"wires":[]},{"id":"8715204d.56f8b","type":"function","z":"572b50ca.8c942","name":"ConfigureAdvancedParameters","func":"var cp = flow.get(\"chartparams\");\n\nmsg.db_ms_start = cp.astarttime * 0.001;\nmsg.db_ms_end = cp.aendtime * 0.001;\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":900,"wires":[["136d68cb.02f5e7"]]},{"id":"976a0f62.341c4","type":"ui_chart","z":"572b50ca.8c942","name":"GUITemperatureChart","group":"e7a1e8bc.ed1488","order":3,"width":"16","height":"6","label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No temperature data","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1100,"y":900,"wires":[[],[]]},{"id":"136d68cb.02f5e7","type":"change","z":"572b50ca.8c942","name":"PrepareSqlQueryParametersCommon","rules":[{"t":"set","p":"verbose","pt":"msg","to":"functionsVerbose","tot":"global"},{"t":"set","p":"db_table","pt":"msg","to":"weathertable","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":960,"wires":[["24c4190f.56e2e6"]]},{"id":"687d976b.2be428","type":"ui_chart","z":"572b50ca.8c942","name":"GUIHumidityChart","group":"e7a1e8bc.ed1488","order":4,"width":"16","height":"6","label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No humidity data","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1110,"y":940,"wires":[[],[]]},{"id":"31a9ccc.01baf34","type":"inject","z":"572b50ca.8c942","name":"Simulate refresh","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":960,"wires":[["90ef0a8b.e54138"]]},{"id":"2cf9ecdb.d957d4","type":"function","z":"572b50ca.8c942","name":"AdaptDataForCharts","func":"databaseRows = msg.payload;\n\n_data = [];\n_dataHumidity = [];\n\nif(msg.verbose){\n    node.warn(\"One of returned timestamps: \" + databaseRows[0][\"Timestamp\"] * 1000); \n   // if(global.get(\"functionsVerbose\")){\n        node.warn(\"SQL request returned:\\n\\n\" + JSON.stringify(databaseRows, null, 2)  + \"\\n\\n\"); \n   // }\n}\n\n\n\nfor (var r = 0; r<databaseRows.length; ++r) {\n    ts = databaseRows[r][\"Timestamp\"] * 1000;\n    //node.warn({one:\"hey\", two:ts});\n    tm = (databaseRows[r][\"Temperature\"]);\n    hm = (databaseRows[r][\"Humidity\"]);\n    \n    _data.push({x:ts, y:tm});\n    _dataHumidity.push({x: ts, y: hm});\n}\n\n_series = [\"Temperature\"];\n_series1 = [\"Humidity\"];\n\nreturn [{payload: [{series: _series, data: [_data], labels: [\"\"]}]}, {payload: [{series: _series1, data: [_dataHumidity], labels: [\"\"]}]}];","outputs":2,"noerr":0,"x":940,"y":1020,"wires":[["976a0f62.341c4"],["687d976b.2be428"]]},{"id":"230e5b3.0a72ba4","type":"ui_button","z":"572b50ca.8c942","name":"","group":"e7a1e8bc.ed1488","order":2,"width":0,"height":0,"passthru":false,"label":"Refresh","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":1020,"wires":[["90ef0a8b.e54138"]]},{"id":"3ca5b338.cea95c","type":"ui_date_picker","z":"572b50ca.8c942","name":"GUIaStartDate","label":"Start date","group":"132cd44a.3056dc","order":1,"width":0,"height":0,"passthru":false,"topic":"astarttime","x":220,"y":460,"wires":[["7a383da.9d53fc4"]]},{"id":"4a3b0ee8.dd38c","type":"ui_date_picker","z":"572b50ca.8c942","name":"","label":"End date","group":"132cd44a.3056dc","order":3,"width":0,"height":0,"passthru":false,"topic":"aendtime","x":200,"y":580,"wires":[["401e4b62.b6aeb4"]]},{"id":"ad3d4b41.a4c058","type":"ui_text_input","z":"572b50ca.8c942","name":"","label":"Start time","group":"132cd44a.3056dc","order":2,"width":0,"height":0,"passthru":false,"mode":"time","delay":"100","topic":"astarttime","x":200,"y":520,"wires":[["caf1a4d5.234738"]]},{"id":"6fb6e898.740fb8","type":"ui_text_input","z":"572b50ca.8c942","name":"","label":"End time","group":"132cd44a.3056dc","order":4,"width":0,"height":0,"passthru":false,"mode":"time","delay":"100","topic":"aendtime","x":200,"y":640,"wires":[["6e277296.f4b67c"]]},{"id":"f4b6cf8f.4ad4","type":"ui_switch","z":"572b50ca.8c942","name":"","label":"Enable advanced time picking","group":"e7a1e8bc.ed1488","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"advancedtimer","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":270,"y":400,"wires":[["f4dead1c.b08e9","62eb37a2.3bc278"]]},{"id":"f4dead1c.b08e9","type":"change","z":"572b50ca.8c942","name":"EnableDisableControls","rules":[{"t":"move","p":"payload","pt":"msg","to":"enabled","tot":"msg"},{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":400,"wires":[["ad3d4b41.a4c058","3ca5b338.cea95c","4a3b0ee8.dd38c","6fb6e898.740fb8","15407758.eddcd9"]]},{"id":"de471239.11c7a","type":"ui_dropdown","z":"572b50ca.8c942","name":"GUITimeUnitSelector","label":"","place":"Hours","group":"e7a1e8bc.ed1488","order":6,"width":"8","height":"1","passthru":false,"options":[{"label":"Days","value":"Days","type":"str"},{"label":"Hours","value":"Hours","type":"str"},{"label":"Minutes","value":"Minutes","type":"str"},{"label":"Seconds","value":"Seconds","type":"str"}],"payload":"","topic":"timeunit","x":1160,"y":520,"wires":[["161ea3c3.e1d96c"]]},{"id":"adecb872.eca698","type":"ui_text","z":"572b50ca.8c942","group":"e7a1e8bc.ed1488","order":4,"width":"4","height":"1","name":"GUILabelReturnDataForLast","label":"Retun data for last ","format":"","layout":"row-spread","x":1180,"y":400,"wires":[]},{"id":"1a3ac6b8.854f09","type":"ui_text_input","z":"572b50ca.8c942","name":"GUIinputTime","label":"","group":"e7a1e8bc.ed1488","order":5,"width":"4","height":"1","passthru":false,"mode":"number","delay":300,"topic":"interval","x":1140,"y":460,"wires":[["c2d66ace.05de78"]]},{"id":"15407758.eddcd9","type":"change","z":"572b50ca.8c942","name":"EnableDisableControlsInvert","rules":[{"t":"change","p":"enabled","pt":"msg","from":"true","fromt":"bool","to":"original_true","tot":"str"},{"t":"change","p":"enabled","pt":"msg","from":"false","fromt":"bool","to":"original_false","tot":"str"},{"t":"change","p":"enabled","pt":"msg","from":"original_true","fromt":"str","to":"false","tot":"bool"},{"t":"change","p":"enabled","pt":"msg","from":"original_false","fromt":"str","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":400,"wires":[["adecb872.eca698","1a3ac6b8.854f09","de471239.11c7a"]]},{"id":"ecae7de9.5c405","type":"comment","z":"572b50ca.8c942","name":"Dashboard time picker always works as if timezone iz UTF .. We change the value to show correctly on view. Also, have to set new value to both date and time pickers","info":"","x":570,"y":700,"wires":[]},{"id":"fe754596.a7c9f8","type":"function","z":"572b50ca.8c942","name":"GuiValuesToFlowParameters","func":"\nobj = flow.get(\"chartparams\");\n\nobj[msg.topic] = msg.payload;\n\n// node.warn(obj);\n\nflow.set(\"chartparams\", obj);\n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":740,"wires":[["8ededb76.c07af8"]]},{"id":"f26f2c38.fc725","type":"link in","z":"572b50ca.8c942","name":"StoreGuiToFlow","links":["161ea3c3.e1d96c","62eb37a2.3bc278","c2d66ace.05de78"],"x":575,"y":800,"wires":[["fe754596.a7c9f8"]]},{"id":"7a383da.9d53fc4","type":"link out","z":"572b50ca.8c942","name":"linkStartDateOutput","links":["a282040.a9dd8"],"x":355,"y":440,"wires":[]},{"id":"401e4b62.b6aeb4","type":"link out","z":"572b50ca.8c942","name":"link_endDateOuput","links":["a282040.a9dd8"],"x":335,"y":560,"wires":[]},{"id":"6e277296.f4b67c","type":"link out","z":"572b50ca.8c942","name":"linkEndTimeOutput","links":["621d60c8.70e45"],"x":335,"y":620,"wires":[]},{"id":"caf1a4d5.234738","type":"link out","z":"572b50ca.8c942","name":"linkStartTimeOutput","links":["621d60c8.70e45"],"x":335,"y":500,"wires":[]},{"id":"c2d66ace.05de78","type":"link out","z":"572b50ca.8c942","name":"","links":["f26f2c38.fc725","a37bb2cc.706c9"],"x":1275,"y":460,"wires":[]},{"id":"161ea3c3.e1d96c","type":"link out","z":"572b50ca.8c942","name":"","links":["f26f2c38.fc725","a37bb2cc.706c9"],"x":1315,"y":520,"wires":[]},{"id":"62eb37a2.3bc278","type":"link out","z":"572b50ca.8c942","name":"","links":["f26f2c38.fc725","a37bb2cc.706c9"],"x":475,"y":360,"wires":[]},{"id":"90ef0a8b.e54138","type":"switch","z":"572b50ca.8c942","name":"IsAdvancedDateTime","property":"chartparams.advancedtimer","propertyType":"flow","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":960,"wires":[["8715204d.56f8b"],["6bbf3b7b.78a544"]]},{"id":"6bbf3b7b.78a544","type":"change","z":"572b50ca.8c942","name":"ConfigureSimpleTime","rules":[{"t":"set","p":"db_time_max_age","pt":"msg","to":"chartparams.interval","tot":"flow"},{"t":"set","p":"db_time_max_age_unit","pt":"msg","to":"chartparams.timeunit","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1020,"wires":[["136d68cb.02f5e7"]]},{"id":"cbdf39ce.dd0168","type":"catch","z":"572b50ca.8c942","name":"","scope":["2cf9ecdb.d957d4","f54ace55.30a96"],"x":630,"y":560,"wires":[["b3629b8a.f7cf88"]]},{"id":"b3629b8a.f7cf88","type":"logger","z":"572b50ca.8c942","name":"LogAdapterError","filename":"advancedlogs/LogAdapterError.log","maxsize":1,"maxfiles":10,"complete":"true","console":true,"file":true,"debug":true,"zip":false,"logtype":"info","x":820,"y":560,"wires":[]},{"id":"a1591b69.d9b998","type":"link in","z":"572b50ca.8c942","name":"","links":["fec08d29.8e35f","2a2657ba.0e8b78","d17e3325.82de6","5098ea21.885534","7acc4947.76a858"],"x":55,"y":580,"wires":[["6fb6e898.740fb8","4a3b0ee8.dd38c"]]},{"id":"c83195c1.2937c8","type":"link in","z":"572b50ca.8c942","name":"","links":["5c28e248.1777dc","d6576ed4.fdb92","ad115e78.9ca8f","ca2eb271.57a01","5dc4c5d9.202bec"],"x":75,"y":460,"wires":[["ad3d4b41.a4c058","3ca5b338.cea95c"]]},{"id":"999992f0.bece9","type":"link in","z":"572b50ca.8c942","name":"","links":["41406bab.a29eb4","a004f1a3.d859d","f76ae42e.3aa578","70cc6df0.f20e44","fcbac63d.864ea8"],"x":995,"y":520,"wires":[["de471239.11c7a"]]},{"id":"80c25b28.44c348","type":"link in","z":"572b50ca.8c942","name":"","links":["3524e282.a1426e","219d8fcb.27b57","2545e5c9.2ca84a","4795a8ca.f09c68","fff9e142.5d932"],"x":995,"y":460,"wires":[["1a3ac6b8.854f09"]]},{"id":"93dd24a1.d4f978","type":"link in","z":"572b50ca.8c942","name":"","links":["c9fe163b.878f88","2e7e2a99.49d156","dab2f52c.b9f048","d280aa00.eff908","3f1ab192.7af60e"],"x":75,"y":400,"wires":[["f4b6cf8f.4ad4"]]},{"id":"5098ea21.885534","type":"link out","z":"572b50ca.8c942","name":"","links":["a1591b69.d9b998"],"x":795,"y":60,"wires":[]},{"id":"ca2eb271.57a01","type":"link out","z":"572b50ca.8c942","name":"","links":["c83195c1.2937c8"],"x":795,"y":100,"wires":[]},{"id":"70cc6df0.f20e44","type":"link out","z":"572b50ca.8c942","name":"","links":["999992f0.bece9"],"x":635,"y":240,"wires":[]},{"id":"4795a8ca.f09c68","type":"link out","z":"572b50ca.8c942","name":"","links":["80c25b28.44c348"],"x":635,"y":200,"wires":[]},{"id":"d280aa00.eff908","type":"link out","z":"572b50ca.8c942","name":"","links":["93dd24a1.d4f978"],"x":635,"y":160,"wires":[]},{"id":"f54ace55.30a96","type":"set-defaults","z":"572b50ca.8c942","name":"SetFlowToDefault","rules":[{"t":"set","p":"chartparams.aendtime","pt":"flow","to":"","tot":"date"},{"t":"set","p":"chartparams.astarttime","pt":"flow","to":"$flowContext('chartparams').aendtime-(24*3600*1000)","tot":"jsonata"},{"t":"set","p":"chartparams.advancedtimer","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"chartparams.interval","pt":"flow","to":"1","tot":"num"},{"t":"set","p":"chartparams.timeunit","pt":"flow","to":"Days","tot":"str"}],"chbox_DoOutputToMessage":true,"chbox_SetCurrentToMsg":true,"howSend":{"text":"payload","type":"msg","modifiedValue":"payload"},"dropdown_HowManyMessages":"multiple","dropdownObjOrVal":"value","outputs":5,"x":330,"y":200,"wires":[["7d6b39a8.419e78"],["5304630c.80958c"],["d280aa00.eff908"],["4795a8ca.f09c68"],["70cc6df0.f20e44"]]},{"id":"cbb3995a.6a1c38","type":"switch","z":"572b50ca.8c942","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"connect","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":130,"y":180,"wires":[["f54ace55.30a96"],[]]},{"id":"c8f55338.644a3","type":"ui_ui_control","z":"572b50ca.8c942","name":"PageLoadTrigger","x":130,"y":120,"wires":[["cbb3995a.6a1c38","fb2bb752.f86bb8"]]},{"id":"41b5fc97.cfc6a4","type":"inject","z":"572b50ca.8c942","name":"FakeConnect","topic":"verbose1","payload":"connect","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":220,"wires":[["f54ace55.30a96"]]},{"id":"ba953284.bafd7","type":"comment","z":"572b50ca.8c942","name":"Handle refresh button and draw the charts","info":"","x":340,"y":860,"wires":[]},{"id":"799cf9fd.bd17a8","type":"comment","z":"572b50ca.8c942","name":"Log error if it happens during adapt for charts or our setup node","info":"","x":730,"y":520,"wires":[]},{"id":"621d60c8.70e45","type":"link in","z":"572b50ca.8c942","name":"linkTimePickerOutput","links":["6e277296.f4b67c","caf1a4d5.234738"],"x":35,"y":740,"wires":[["c40bb183.b33c6"]]},{"id":"a282040.a9dd8","type":"link in","z":"572b50ca.8c942","name":"linkDatePickerOutput","links":["401e4b62.b6aeb4","7a383da.9d53fc4"],"x":35,"y":780,"wires":[["529c9929.c3aaf8"]]},{"id":"8de35845.d93cb8","type":"function","z":"572b50ca.8c942","name":"handleTimeChange","func":"var verbose = global.get(\"functionsVerbose\");\nvar everything = flow.get(\"chartparams\");\nvar propertyName = msg.topic;\nif(verbose){\n    node.warn(\"OLD: \" + new Date(flow.get(\"chartparams\")[propertyName]).toLocaleString());\n}\n// propertyname is astarttime or aendtime\nvar time = new Date(everything[propertyName]);\nvar newTime = new Date(msg.payload);\n\ntime.setHours(newTime.getHours());\ntime.setMinutes(newTime.getMinutes());\ntime.setSeconds(newTime.getSeconds());\n\neverything[propertyName] = time.getTime();\nif(verbose){\nnode.warn(\"NEW: \" + msg.topic + \" is \" + new Date(flow.get(\"chartparams\")[propertyName]).toLocaleString());\n}\nreturn msg;","outputs":1,"noerr":0,"x":455,"y":740,"wires":[["fe754596.a7c9f8"]]},{"id":"330f62a1.3cd84e","type":"function","z":"572b50ca.8c942","name":"handleDateChange","func":"var verbose = global.get(\"functionsVerbose\");\nvar everything = flow.get(\"chartparams\");\nvar propertyName = msg.topic;\nif(verbose){\nnode.warn(\"OLD: \" + new Date(flow.get(\"chartparams\")[propertyName]).toLocaleString());\n}\n// propertyname is astarttime or aendtime\nvar time = new Date(everything[propertyName]);\nvar newTime = new Date(msg.payload);\n\nnewTime.setHours(time.getHours());\nnewTime.setMinutes(time.getMinutes());\nnewTime.setSeconds(time.getSeconds());\n\neverything[propertyName] = newTime.getTime();\nif(verbose){\nnode.warn(\"NEW: \" + msg.topic + \" is \" + new Date(flow.get(\"chartparams\")[propertyName]).toLocaleString());\n}\nreturn msg;","outputs":1,"noerr":0,"x":455,"y":780,"wires":[["fe754596.a7c9f8"]]},{"id":"143662b2.b7014d","type":"set-defaults","z":"572b50ca.8c942","name":"MakeTimeNull","rules":[{"t":"set","p":"chartparams.astarttime","pt":"flow","to":"","tot":"to_undefined"},{"t":"set","p":"chartparams.aendtime","pt":"flow","to":"","tot":"to_undefined"}],"chbox_DoOutputToMessage":true,"chbox_SetCurrentToMsg":true,"howSend":{"text":"payload","type":"msg","modifiedValue":"payload"},"dropdown_HowManyMessages":"multiple","dropdownObjOrVal":"value","outputs":2,"x":1180,"y":100,"wires":[[],[]]},{"id":"a5f1ac80.44fd7","type":"inject","z":"572b50ca.8c942","name":"SimpleSwitch","topic":"","payload":"connect","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":990,"y":100,"wires":[["143662b2.b7014d"]]},{"id":"7d6b39a8.419e78","type":"function","z":"572b50ca.8c942","name":"AdaptTimezoneForTimeDisplay","func":"// Time widget always displays UTC time .. to have it display localtime, we will modify the time a bit.\nsubMs = new Date().getTimezoneOffset()*60*1000;\n\nmsg.payload -= subMs;\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":60,"wires":[["5098ea21.885534"]]},{"id":"529c9929.c3aaf8","type":"function","z":"572b50ca.8c942","name":"RevertTimeDisplayTimezoneLogic","func":"// Time widget always displays UTC time .. to have it display localtime, we will modify the time a bit.\naddMs = new Date().getTimezoneOffset()*60*1000;\n\nmsg.payload += addMs;\n\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":780,"wires":[["330f62a1.3cd84e"]]},{"id":"5304630c.80958c","type":"function","z":"572b50ca.8c942","name":"AdaptTimezoneForTimeDisplay","func":"// Time widget always displays UTC time .. to have it display localtime, we will modify the time a bit.\nsubMs = new Date().getTimezoneOffset()*60*1000;\n\nmsg.payload -= subMs;\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":100,"wires":[["ca2eb271.57a01"]]},{"id":"c40bb183.b33c6","type":"function","z":"572b50ca.8c942","name":"RevertTimeDisplayTimezoneLogic","func":"// Time widget always displays UTC time .. to have it display localtime, we will modify the time a bit.\naddMs = new Date().getTimezoneOffset()*60*1000;\n\nmsg.payload += addMs;\n\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":740,"wires":[["8de35845.d93cb8"]]},{"id":"6f19ce04.98051","type":"set-defaults","z":"572b50ca.8c942","name":"makeAllNull","rules":[{"t":"set","p":"chartparams.aendtime","pt":"flow","to":"","tot":"to_undefined"},{"t":"set","p":"chartparams.astarttime","pt":"flow","to":"","tot":"to_undefined"},{"t":"set","p":"chartparams.advancedtimer","pt":"flow","to":"","tot":"to_undefined"},{"t":"set","p":"chartparams.interval","pt":"flow","to":"","tot":"to_undefined"},{"t":"set","p":"chartparams.timeunit","pt":"flow","to":"","tot":"to_undefined"}],"chbox_DoOutputToMessage":true,"chbox_SetCurrentToMsg":true,"howSend":{"text":"payload","type":"msg","modifiedValue":"payload"},"dropdown_HowManyMessages":"multiple","dropdownObjOrVal":"value","outputs":5,"x":1170,"y":160,"wires":[[],[],[],[],[]]},{"id":"772f556.a364cac","type":"inject","z":"572b50ca.8c942","name":"SimpleSwitch","topic":"","payload":"connect","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":990,"y":160,"wires":[["6f19ce04.98051"]]},{"id":"d8186480.cb9ab8","type":"link out","z":"572b50ca.8c942","name":"","links":["2e1c0cb7.153874","f158f308.18242"],"x":1095,"y":740,"wires":[]},{"id":"2e1c0cb7.153874","type":"link in","z":"572b50ca.8c942","name":"n1","links":["d8186480.cb9ab8"],"x":415,"y":100,"wires":[["5304630c.80958c"]]},{"id":"8e39548e.33c538","type":"link out","z":"572b50ca.8c942","name":"","links":["658b7431.be802c","85624b42.eba918"],"x":1095,"y":780,"wires":[]},{"id":"658b7431.be802c","type":"link in","z":"572b50ca.8c942","name":"n11","links":["8e39548e.33c538"],"x":415,"y":60,"wires":[["7d6b39a8.419e78"]]},{"id":"8ededb76.c07af8","type":"switch","z":"572b50ca.8c942","name":"StartOrEnd","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"astarttime","vt":"str"},{"t":"eq","v":"aendtime","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":740,"wires":[["d8186480.cb9ab8"],["8e39548e.33c538"]]},{"id":"ac04a50e.a82fc8","type":"change","z":"572b50ca.8c942","name":"ConfigureVerbose","rules":[{"t":"set","p":"functionsVerbose","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":280,"wires":[[]]},{"id":"29a6cbeb.7b7474","type":"inject","z":"572b50ca.8c942","name":"EnableVerbose","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1000,"y":280,"wires":[["ac04a50e.a82fc8"]]},{"id":"cf7e0c5b.d3923","type":"inject","z":"572b50ca.8c942","name":"DisableVerbose","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1020,"y":320,"wires":[["ac04a50e.a82fc8"]]},{"id":"441aa186.69783","type":"comment","z":"572b50ca.8c942","name":"Enable or disable verbose - set global boolean value, developer purposes","info":"","x":1180,"y":240,"wires":[]},{"id":"fc364aeb.120088","type":"comment","z":"572b50ca.8c942","name":"Reset flow values - developer purposes","info":"","x":1070,"y":60,"wires":[]},{"id":"b56f6ff6.28a5a","type":"comment","z":"572b50ca.8c942","name":"Configure GUI item values and also read values when they change","info":"","x":300,"y":320,"wires":[]},{"id":"dc81e7b8.c27df8","type":"switch","z":"572b50ca.8c942","name":"FilterIncommingEvent","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"connect","vt":"str"},{"t":"eq","v":"lost","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1320,"y":700,"wires":[["a1685cbc.a042"],["a1685cbc.a042"]]},{"id":"a1685cbc.a042","type":"logger","z":"572b50ca.8c942","name":"ConnectEventLogger","filename":"advancedlogs/logConnects.log","maxsize":1,"maxfiles":10,"complete":"payload","console":false,"file":true,"debug":false,"zip":false,"logtype":"info","x":1580,"y":700,"wires":[]},{"id":"1e65a5c6.32cb5a","type":"ui_text_input","z":"572b50ca.8c942","name":"GUIdevMsgInput","label":"Message to the dev","group":"e7a1e8bc.ed1488","order":0,"width":"10","height":"1","passthru":false,"mode":"text","delay":300,"topic":"DevMessageInput","x":1290,"y":780,"wires":[["1bb3bde2.a27a92"]]},{"id":"2ad94b30.23e094","type":"ui_button","z":"572b50ca.8c942","name":"GUIdevMsgSend","group":"e7a1e8bc.ed1488","order":0,"width":"6","height":"1","passthru":false,"label":"SEND","color":"#f2eec6","bgcolor":"","icon":"send","payload":"ui_d_special_msg","payloadType":"flow","topic":"UserLog","x":1270,"y":660,"wires":[["a1685cbc.a042"]]},{"id":"1bb3bde2.a27a92","type":"change","z":"572b50ca.8c942","name":"","rules":[{"t":"set","p":"ui_d_special_msg","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":780,"wires":[[]]},{"id":"fb2bb752.f86bb8","type":"link out","z":"572b50ca.8c942","name":"linkPageLoadIn","links":["64d2ea28.97d154"],"x":255,"y":80,"wires":[]},{"id":"64d2ea28.97d154","type":"link in","z":"572b50ca.8c942","name":"linkPageLoadOut","links":["fb2bb752.f86bb8","ceb6677f.54cb18"],"x":1195,"y":720,"wires":[["dc81e7b8.c27df8"]]},{"id":"24c4190f.56e2e6","type":"subflow:c86a3558.c79b18","z":"572b50ca.8c942","name":"GetDatabaseTable","x":830,"y":900,"wires":[["2cf9ecdb.d957d4"]]},{"id":"e7a1e8bc.ed1488","type":"ui_group","z":"","name":"Charts","tab":"7786256e.77ea2c","order":2,"disp":true,"width":"16","collapse":false},{"id":"132cd44a.3056dc","type":"ui_group","z":"","name":"Custom time","tab":"7786256e.77ea2c","order":1,"disp":true,"width":"4","collapse":false},{"id":"7786256e.77ea2c","type":"ui_tab","z":"","name":"Charts","icon":"dashboard","order":3}]