node-red_flows/CurrentWeatherDials.json
[{"id":"685f085f.4e9958","type":"subflow","name":"GetAirSensorDataReal","info":"Queries the device for temperature and humidity data.\n\nOutputs:\n\t* Output1 (only if OK): original message \n\t\t* resultTemperature - temperature\n\t\t* resultHumidity - humidity\n\t\t* payload - raw response from the device, in form of json\n\t* Output2 (only if OK): temperature on payload (message is lost)\n\t* Output3 (only if OK): humidity on payload (message is lost)\n\t* Output4 (only if error): original object with error info attached\n\t\t* originalError - the error that was returned by node\n\t\t* payload - user friendly error message\n\nReturned msg - other properties\n\t* requesting_node - last http-get node that processed the message. Useful when handling error to see where it arised.\n\t* processing_step - Last attempted step. Useful for error handling. Can be \"during refresh request\" or \"during query for the info\".\n\n\nTo query, pass any message to the input.","category":"","in":[{"x":80,"y":380,"wires":[{"id":"8db1efaa.9ad05"}]}],"out":[{"x":880,"y":360,"wires":[{"id":"a1a52324.a2bee","port":0}]},{"x":860,"y":420,"wires":[{"id":"a1a52324.a2bee","port":1}]},{"x":860,"y":480,"wires":[{"id":"a1a52324.a2bee","port":2}]},{"x":1060,"y":120,"wires":[{"id":"f86a0bb6.b6d0b8","port":0},{"id":"cfe8f14b.93dc7","port":0}]}]},{"id":"c3d0e074.03fa8","type":"switch","z":"685f085f.4e9958","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"^Error[\\s\\S]*","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":200,"wires":[["f86a0bb6.b6d0b8"],["1072976a.3baad9"]],"outputLabels":["Error out","Useful out"]},{"id":"8db1efaa.9ad05","type":"http request","z":"685f085f.4e9958","name":"SensorTaskRefreshRequest","method":"GET","ret":"txt","url":"http://192.168.1.241/control?cmd=event,temperatureQuery","tls":"","x":240,"y":380,"wires":[["77ad20e1.01d0c"]]},{"id":"c44385f9.b82f58","type":"http request","z":"685f085f.4e9958","name":"GetTempAndHumiJson","method":"GET","ret":"txt","url":"http://192.168.1.241/json?tasknr=1","tls":"","x":490,"y":280,"wires":[["c8f1a2da.a90d3"]]},{"id":"c8f1a2da.a90d3","type":"switch","z":"685f085f.4e9958","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"^Error[\\s\\S]*","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":280,"wires":[["f86a0bb6.b6d0b8"],["1c4d6bee.ef40e4"]],"outputLabels":["Error out","Useful out"]},{"id":"1c4d6bee.ef40e4","type":"json","z":"685f085f.4e9958","name":"Json data parser","property":"payload","action":"obj","pretty":false,"x":650,"y":340,"wires":[["a1a52324.a2bee"]],"outputLabels":["ms"]},{"id":"a1a52324.a2bee","type":"function","z":"685f085f.4e9958","name":"DhtSensorDataExtractor","func":"\nvar values = msg.payload.TaskValues;\n\nvar tmp = values.find(obj => obj.Name === 'Temperature').Value\nvar hum = values.find(obj => obj.Name === 'Humidity').Value\n\nmsg.resultTemperature = tmp;\nmsg.resultHumidity = hum;\n\n\nvar tmpMsg = { payload: tmp };\nvar humidityMsg = { payload: hum };\n\nif (isNaN(msg.resultTemperature) || isNaN(msg.resultHumidity)){\n    node.error(\"At least one value is NAN: temperature \" + msg.resultTemperature + \"; humidity: \" + msg.resultHumidity, msg);\n    return null;\n}\n\nreturn [msg, tmpMsg, humidityMsg];","outputs":3,"noerr":0,"x":670,"y":420,"wires":[[],[],[]]},{"id":"779d05a0.7de88c","type":"comment","z":"685f085f.4e9958","name":"IDEA: i18n for GUI message","info":"","x":160,"y":40,"wires":[]},{"id":"77ad20e1.01d0c","type":"change","z":"685f085f.4e9958","name":"Add message info - refresh","rules":[{"t":"set","p":"requesting_node","pt":"msg","to":"SensorTaskRefreshRequest","tot":"str"},{"t":"set","p":"processing_step","pt":"msg","to":"Step1: Request temperature read","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":160,"wires":[["c3d0e074.03fa8"]]},{"id":"1072976a.3baad9","type":"change","z":"685f085f.4e9958","name":"Add message info - query","rules":[{"t":"set","p":"requesting_node","pt":"msg","to":"GetTempAndHumiJson","tot":"str"},{"t":"set","p":"processing_step","pt":"msg","to":"Step2: Get temperature data from device","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":240,"wires":[["c44385f9.b82f58"]]},{"id":"243bc6f2.c17b3a","type":"catch","z":"685f085f.4e9958","name":"CatchNanError","scope":["a1a52324.a2bee"],"x":440,"y":60,"wires":[["4f17b6eb.80e5f8"]]},{"id":"f86a0bb6.b6d0b8","type":"change","z":"685f085f.4e9958","name":"Prepare error message - cannot connect","rules":[{"t":"set","p":"originalError","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"Cannot connect to the device! Is device ready?","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":180,"wires":[[]]},{"id":"4f17b6eb.80e5f8","type":"change","z":"685f085f.4e9958","name":"Prepare error message - NAN","rules":[{"t":"set","p":"originalError","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"error.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":100,"wires":[["cfe8f14b.93dc7"]]},{"id":"cfe8f14b.93dc7","type":"json","z":"685f085f.4e9958","name":"convertProblematicObjectToString","property":"originalError","action":"str","pretty":false,"x":1000,"y":40,"wires":[[]]},{"id":"c96bee6d.774db","type":"catch","z":"685f085f.4e9958","name":"CatchHttpError","scope":["c44385f9.b82f58","8db1efaa.9ad05"],"x":280,"y":580,"wires":[[]]},{"id":"7c34c6f9.83fc38","type":"comment","z":"685f085f.4e9958","name":"Ignore http connect error since we handle it on output of node.","info":"","x":420,"y":540,"wires":[]},{"id":"25fe587a.f552e8","type":"http in","z":"ed1d3a05.2d3258","name":"btnHttpEndpoint","url":"/btn","method":"get","upload":false,"swaggerDoc":"","x":140,"y":680,"wires":[["826e41cf.52d53"]]},{"id":"7ba3fd05.8bc8b4","type":"ui_toast","z":"ed1d3a05.2d3258","position":"bottom left","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":590,"y":640,"wires":[]},{"id":"826e41cf.52d53","type":"function","z":"ed1d3a05.2d3258","name":"ParseHttpGetParameters","func":"\nvar bul = msg.payload.status == \"true\";\n\nmsg.statusCode = 200;\nmsg.payload = \"Received: Btn, \" + bul;\n\n// return {payload: bul, topic: \"Motion\", quer: msg.req.query};\nreturn [{payload: bul, topic: \"Button\"}, msg];","outputs":2,"noerr":0,"x":350,"y":680,"wires":[["7ba3fd05.8bc8b4","4aef3d76.51f644","830bfdea.b2d92","cf2f0b06.f6e3a8"],["8f8b44f.a4147b8"]]},{"id":"4aef3d76.51f644","type":"debug","z":"ed1d3a05.2d3258","name":"EspButton","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":570,"y":720,"wires":[]},{"id":"a11b3a2d.0ea418","type":"http in","z":"ed1d3a05.2d3258","name":"MotionHttpEndpoint","url":"/motion","method":"get","upload":false,"swaggerDoc":"","x":190,"y":860,"wires":[["d38f0490.a42968"]]},{"id":"f6384f43.c0ddb","type":"comment","z":"ed1d3a05.2d3258","name":"Receiving motion events on HTTP endpoint","info":"","x":300,"y":900,"wires":[]},{"id":"af582533.8897b8","type":"ui_toast","z":"ed1d3a05.2d3258","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":670,"y":920,"wires":[]},{"id":"d38f0490.a42968","type":"function","z":"ed1d3a05.2d3258","name":"ParseMotion","func":"\nvar bul = msg.payload.status == \"true\";\nmsg.statusCode = 200;\nmsg.payload = \"Received: Motion \" + bul;\n// return {payload: bul, topic: \"Motion\", quer: msg.req.query};\nreturn [{payload: bul, topic: \"Motion\"}, msg ];","outputs":2,"noerr":0,"x":150,"y":820,"wires":[["1b039ef8.c5cb61","6635632a.f30ccc"],["8f8b44f.a4147b8"]]},{"id":"f32b8e9d.c9991","type":"ui_gauge","z":"ed1d3a05.2d3258","name":"GUIHumidity","group":"60e9f6a5.3638e8","order":0,"width":"6","height":"5","gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":160,"wires":[]},{"id":"9cfac10c.9c8a8","type":"ui_gauge","z":"ed1d3a05.2d3258","name":"GUITemperature","group":"60e9f6a5.3638e8","order":0,"width":"6","height":"5","gtype":"compass","title":"Temperature","label":"°C","format":"{{value}}","min":"16","max":"32","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":120,"wires":[]},{"id":"830bfdea.b2d92","type":"ui_switch","z":"ed1d3a05.2d3258","name":"GUIstikalo","label":"Switch","group":"60e9f6a5.3638e8","order":0,"width":"3","height":"2","passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":570,"y":680,"wires":[[]]},{"id":"e9ddc3f6.56bf5","type":"ui_text","z":"ed1d3a05.2d3258","group":"60e9f6a5.3638e8","order":0,"width":"9","height":"2","name":"GUIStatus","label":"Motion status","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":760,"wires":[]},{"id":"cd6b3fbf.36931","type":"comment","z":"ed1d3a05.2d3258","name":"Device virtual switch state","info":"","x":250,"y":640,"wires":[]},{"id":"1b039ef8.c5cb61","type":"switch","z":"ed1d3a05.2d3258","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":760,"wires":[["428d98ef.f5d748"],["6aa2b447.9fd34c"]]},{"id":"428d98ef.f5d748","type":"change","z":"ed1d3a05.2d3258","name":"Stylize motion true","rules":[{"t":"set","p":"payload","pt":"msg","to":"<font size=\"72\"><i>MOTION!</i></font>","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":740,"wires":[["e9ddc3f6.56bf5"]]},{"id":"6aa2b447.9fd34c","type":"change","z":"ed1d3a05.2d3258","name":"Stylize motion false","rules":[{"t":"set","p":"payload","pt":"msg","to":"<font size=\"6\" color=\"gray\">no motion</font>","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":780,"wires":[["e9ddc3f6.56bf5"]]},{"id":"cef10522.153e28","type":"ui_ui_control","z":"ed1d3a05.2d3258","name":"","x":180,"y":440,"wires":[["db00274a.d26d38"]]},{"id":"db00274a.d26d38","type":"switch","z":"ed1d3a05.2d3258","name":"FilterIncommingEvent","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"connect","vt":"str"},{"t":"eq","v":"lost","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":220,"y":400,"wires":[["11816417.27d6bc","f9ad7366.924ad"],["11816417.27d6bc","bc2e7ca5.aef5c"]]},{"id":"11816417.27d6bc","type":"logger","z":"ed1d3a05.2d3258","name":"ConnectEventLogger","filename":"advancedlogs/logConnects.log","maxsize":1,"maxfiles":10,"complete":"payload","console":true,"file":true,"debug":false,"zip":false,"logtype":"info","x":480,"y":360,"wires":[]},{"id":"fdf0d870.8ac928","type":"ui_text_input","z":"ed1d3a05.2d3258","name":"GUIdevMsgInput","label":"Message to the dev","group":"60e9f6a5.3638e8","order":0,"width":"8","height":"1","passthru":false,"mode":"text","delay":300,"topic":"DevMessageInput","x":830,"y":120,"wires":[["61460b5c.cf8c04"]]},{"id":"f6f06df3.a4344","type":"ui_button","z":"ed1d3a05.2d3258","name":"GUIdevMsgSend","group":"60e9f6a5.3638e8","order":0,"width":"4","height":"1","passthru":false,"label":"SEND","color":"#f2eec6","bgcolor":"","icon":"send","payload":"ui_d_special_msg","payloadType":"flow","topic":"UserLog","x":250,"y":360,"wires":[["11816417.27d6bc","489cc7a7.232118"]]},{"id":"61460b5c.cf8c04","type":"change","z":"ed1d3a05.2d3258","name":"","rules":[{"t":"set","p":"ui_d_special_msg","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":120,"wires":[[]]},{"id":"f9ad7366.924ad","type":"set-defaults","z":"ed1d3a05.2d3258","name":"PrepareTheCount","rules":[{"p":"d_connections_n","pt":"flow","to":"0","tot":"num"}],"chbox_DoOutputToMessage":false,"chbox_SetCurrentToMsg":false,"howSend":{"text":"payload","type":"msg","modifiedValue":"payload"},"dropdown_HowManyMessages":"single","dropdownObjOrVal":"value","outputs":1,"x":470,"y":400,"wires":[["ee639f6c.86a08"]]},{"id":"ee639f6c.86a08","type":"function","z":"ed1d3a05.2d3258","name":"SetTimers","func":"var c = flow.get(\"d_connections_n\");\n\n/*function intervalFunc(){\n    node.error(new Date(), msg);\n}*/\n++c;\n// Create the timeout\n//node.warn(\"creating the timer\");\n//var to = setInterval(intervalFunc, 3000);\n//\n\nflow.set(\"d_connections_n\", c);\nreturn {payload:\"enabled\"};\n","outputs":1,"noerr":0,"x":640,"y":400,"wires":[["7e905b9d.6cc2b4","92dfa842.265d78"]]},{"id":"bc2e7ca5.aef5c","type":"function","z":"ed1d3a05.2d3258","name":"DecrementCounter","func":"var c = flow.get(\"d_connections_n\");\n--c;\nif(c < 0){\n    c = 0;\n}\nlet power = true;\nif(c === 0){\n    power = false;\n}\nflow.set(\"d_connections_n\", c);\nif(!power){\n    return {payload:\"disabled\"};\n}\nreturn null;","outputs":1,"noerr":0,"x":450,"y":440,"wires":[["92dfa842.265d78"]]},{"id":"7e905b9d.6cc2b4","type":"link out","z":"ed1d3a05.2d3258","name":"realtimeRequestingPageLinkOut","links":["52b242e9.65530c"],"x":775,"y":400,"wires":[]},{"id":"52b242e9.65530c","type":"link in","z":"ed1d3a05.2d3258","name":"realtimeRequestingPageLinkIn","links":["7e905b9d.6cc2b4"],"x":35,"y":160,"wires":[["d99181d1.4ca3f"]]},{"id":"8a2bdee7.24b02","type":"comment","z":"ed1d3a05.2d3258","name":"On page load increment the counter and enable the timer","info":"","x":310,"y":480,"wires":[]},{"id":"f6ec71aa.cfff","type":"comment","z":"ed1d3a05.2d3258","name":"On client disconnect decrement counter, turn off if zero","info":"","x":440,"y":520,"wires":[]},{"id":"33294a49.9126f6","type":"comment","z":"ed1d3a05.2d3258","name":"Refresh data immediately on connect","info":"","x":590,"y":320,"wires":[]},{"id":"30ee6a22.e15af6","type":"comment","z":"ed1d3a05.2d3258","name":"Allow clients to send custom logs","info":"","x":190,"y":320,"wires":[]},{"id":"b4fb1d95.e7f51","type":"comment","z":"ed1d3a05.2d3258","name":"Sets message (any string) to flow variable","info":"","x":920,"y":80,"wires":[]},{"id":"83aaa005.e7101","type":"comment","z":"ed1d3a05.2d3258","name":"Button click reads this variable and forwards it to logger","info":"","x":940,"y":160,"wires":[]},{"id":"f35733c2.a5a94","type":"ui_chart","z":"ed1d3a05.2d3258","name":"GUIrecentTemperatureChart","group":"a69aa2da.350ab","order":0,"width":"5","height":"5","label":"Temperature","chartType":"line","legend":"false","xformat":"auto","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":540,"y":80,"wires":[[],[]]},{"id":"c3ca7aa6.417f98","type":"ui_chart","z":"ed1d3a05.2d3258","name":"GUIrecentHumidityChart","group":"a69aa2da.350ab","order":0,"width":"5","height":"5","label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":530,"y":200,"wires":[[],[]]},{"id":"985e577c.2d87b8","type":"ui_chart","z":"ed1d3a05.2d3258","name":"GUIrecentMotionChart","group":"48b6fc08.42e174","order":0,"width":"5","height":"5","label":"Motion","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":620,"y":820,"wires":[[],[]]},{"id":"6635632a.f30ccc","type":"function","z":"ed1d3a05.2d3258","name":"BoolToNumber","func":"\nreturn {payload:(msg.payload===true?1:0)};","outputs":1,"noerr":0,"x":400,"y":820,"wires":[["985e577c.2d87b8"]]},{"id":"b71d29d9.275108","type":"ui_chart","z":"ed1d3a05.2d3258","name":"GUIrecentBtnChart","group":"48b6fc08.42e174","order":0,"width":"5","height":"5","label":"Button","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"No button events","dot":false,"ymin":"","ymax":"","removeOlder":"8","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":590,"y":600,"wires":[[],[]]},{"id":"cf2f0b06.f6e3a8","type":"function","z":"ed1d3a05.2d3258","name":"BoolToNumber","func":"\nreturn {payload:(msg.payload===true?1:0)};","outputs":1,"noerr":0,"x":400,"y":600,"wires":[["b71d29d9.275108"]]},{"id":"2ce24810.53a138","type":"ui_toast","z":"ed1d3a05.2d3258","position":"bottom right","displayTime":"10","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"GUINotificationDev","x":670,"y":280,"wires":[]},{"id":"489cc7a7.232118","type":"change","z":"ed1d3a05.2d3258","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Sending message","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":280,"wires":[["2ce24810.53a138"]]},{"id":"8024d011.f00dd","type":"comment","z":"ed1d3a05.2d3258","name":"Motion notification turned off (disconnected)","info":"","x":750,"y":880,"wires":[]},{"id":"8f8b44f.a4147b8","type":"http response","z":"ed1d3a05.2d3258","name":"MotionHttpResp","statusCode":"","headers":{},"x":460,"y":860,"wires":[]},{"id":"92dfa842.265d78","type":"configurable interval","z":"ed1d3a05.2d3258","name":"interval","interval":"4200","onstart":false,"do_enable":false,"msg":"ping","showstatus":false,"unit":"milliseconds","statusformat":"YYYY-MM-D HH:mm:ss","x":680,"y":440,"wires":[["7e905b9d.6cc2b4"]]},{"id":"d99181d1.4ca3f","type":"function","z":"ed1d3a05.2d3258","name":"OnOffSwitch_v2_Q_defaultOn","func":"var enabled = context.get('enabled');\nif(enabled == null){\n  enabled = false;\n  node.status({fill:enabled?\"green\":\"red\",shape:\"ring\",text:enabled?\"on\":\"off\"});\n}\nif(msg.topic == \"__d_wOnOffSwitch\") {\n    enabled = msg.payload;\n    context.set('enabled', enabled);\n    var sText = enabled?\"on\":\"off\";\n    node.status({fill:enabled?\"green\":\"red\",shape:\"ring\",text:sText});\n    return null;\n}\n\nif(!enabled) return null;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":200,"wires":[["26285dd.a0e8aa2"]]},{"id":"fac8d260.8fede","type":"ui_switch","z":"ed1d3a05.2d3258","name":"GuiRefreshOnOff","label":"Values refreshing enabled","group":"60e9f6a5.3638e8","order":0,"width":"12","height":"1","passthru":false,"decouple":"false","topic":"__d_wOnOffSwitch","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":210,"y":240,"wires":[["d99181d1.4ca3f"]]},{"id":"26285dd.a0e8aa2","type":"subflow:685f085f.4e9958","z":"ed1d3a05.2d3258","name":"","x":240,"y":140,"wires":[[],["f35733c2.a5a94","9cfac10c.9c8a8"],["f32b8e9d.c9991","c3ca7aa6.417f98"],[]]},{"id":"60e9f6a5.3638e8","type":"ui_group","z":"","name":"ESP info","tab":"5d21f3c0.46ae1c","order":2,"disp":true,"width":"12","collapse":false},{"id":"a69aa2da.350ab","type":"ui_group","z":"","name":"Atmosphere","tab":"5d21f3c0.46ae1c","order":1,"disp":true,"width":"6","collapse":false},{"id":"48b6fc08.42e174","type":"ui_group","z":"","name":"Binary sensors","tab":"5d21f3c0.46ae1c","order":3,"disp":true,"width":"5","collapse":false},{"id":"5d21f3c0.46ae1c","type":"ui_tab","z":"","name":"Info Dashboard","icon":"dashboard","order":1}]