node-red_flows/MiscDemoTestingFlows.json
[{"id":"dab7d6ee.b03668","type":"mqtt out","z":"b3c74435.a23ce8","name":"B","topic":"","qos":"2","retain":"false","broker":"fd715f21.64802","x":970,"y":700,"wires":[]},{"id":"3485614a.aaefee","type":"mqtt in","z":"b3c74435.a23ce8","name":"A","topic":"nrin","qos":"2","broker":"fd715f21.64802","x":710,"y":620,"wires":[["a6f340cf.6846"]]},{"id":"a6f340cf.6846","type":"function","z":"b3c74435.a23ce8","name":"PutResponse","func":"\nvar received = JSON.parse(msg.payload);\nmsg.payload = \"MqResponse: \" + msg.r_gend;\nmsg.topic = received.respond_to;\nreturn msg;","outputs":2,"noerr":0,"x":860,"y":620,"wires":[["bb13c10d.c003b"],["db0a4587.75a1a8"]]},{"id":"39939aca.c26b36","type":"change","z":"b3c74435.a23ce8","name":"InitPerformanceCounts","rules":[{"t":"set","p":"pstarttime","pt":"flow","to":"","tot":"date"},{"t":"set","p":"pendCnt","pt":"flow","to":"7000","tot":"num"},{"t":"set","p":"preqTotal","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"pstartCnt","pt":"flow","to":"0","tot":"str"},{"t":"set","p":"p_1_dividedby_endcnt","pt":"flow","to":"1.0/$flowContext('pendCnt')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":500,"wires":[[]]},{"id":"d38f3b30.46cd28","type":"inject","z":"b3c74435.a23ce8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1110,"y":500,"wires":[["39939aca.c26b36"]]},{"id":"db0a4587.75a1a8","type":"debug","z":"b3c74435.a23ce8","name":"Debug","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":1040,"y":600,"wires":[]},{"id":"bb13c10d.c003b","type":"function","z":"b3c74435.a23ce8","name":"PerformanceMeter","func":"\nvar startCnt = flow.get(\"pstartCnt\");\nif(startCnt++ > flow.get(\"pendCnt\")){\n    const startTime = flow.get(\"pstarttime\");\n\tstartCnt = 0;\n\tconst msPerRequest = (Date.now() - startTime) * flow.get(\"p_1_dividedby_endcnt\");\n\tnode.warn(\"Req per second: \" + ((1.0 / msPerRequest) * 1000.0));\n\tflow.set(\"pstarttime\", Date.now());\n}\nflow.set(\"pstartCnt\", startCnt);\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":700,"wires":[["dab7d6ee.b03668"]]},{"id":"a78ad655.ad74e8","type":"catch","z":"b3c74435.a23ce8","name":"Catch PerformanceMeter","scope":["bb13c10d.c003b"],"x":770,"y":760,"wires":[["fe0301d5.8382a"]]},{"id":"fe0301d5.8382a","type":"debug","z":"b3c74435.a23ce8","name":"Write error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1010,"y":760,"wires":[]},{"id":"474dee51.7f7f2","type":"mqtt out","z":"b3c74435.a23ce8","name":"A","topic":"","qos":"2","retain":"false","broker":"4e9c0bb4.ea51e4","x":1050,"y":380,"wires":[]},{"id":"7486531e.1b762c","type":"mqtt in","z":"b3c74435.a23ce8","name":"B","topic":"nrmqttspammer","qos":"2","broker":"4e9c0bb4.ea51e4","x":130,"y":180,"wires":[["b0689ce9.a4523","2f6080f0.2c877"]]},{"id":"4bee8a1d.63c104","type":"inject","z":"b3c74435.a23ce8","name":"StartChaos","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":560,"wires":[["11565005.8f563"]]},{"id":"c1503e15.ed715","type":"function","z":"b3c74435.a23ce8","name":"PrepareMqttMsg","func":"\nvar traveller = JSON.stringify({Qpayload:\"just NR thing\",\n\"Qrespond_to\":\"nrmqttspammer\"});\n\n\nreturn {payload:traveller};","outputs":1,"noerr":0,"x":390,"y":460,"wires":[["ebe61bec.21b358"]]},{"id":"ca164358.be99b","type":"function","z":"b3c74435.a23ce8","name":"ConfirmMessageOk","func":"if(!msg.payload.startsWith(\"MqResponse\")){\n    node.error(\"HUGE PROBLEM! RETURNED THING IS NOT CORRECT!\");\n}\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":380,"wires":[["c1503e15.ed715"]]},{"id":"11565005.8f563","type":"change","z":"b3c74435.a23ce8","name":"InitPerformanceCounts","rules":[{"t":"set","p":"pstarttime","pt":"flow","to":"","tot":"date"},{"t":"set","p":"pendCnt","pt":"flow","to":"40","tot":"num"},{"t":"set","p":"preqTotal","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"pstartCnt","pt":"flow","to":"0","tot":"str"},{"t":"set","p":"p_1_dividedby_endcnt","pt":"flow","to":"1.0/$flowContext('pendCnt')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":520,"wires":[["c1503e15.ed715"]]},{"id":"b0689ce9.a4523","type":"function","z":"b3c74435.a23ce8","name":"PerformanceMeter","func":"\nvar startCnt = flow.get(\"pstartCnt\");\nif(startCnt++ > flow.get(\"pendCnt\")){\n    const startTime = flow.get(\"pstarttime\");\n\tstartCnt = 0;\n\tconst msPerRequest = (Date.now() - startTime) * flow.get(\"p_1_dividedby_endcnt\");\n\tnode.warn(\"Req per second: \" + ((1.0 / msPerRequest) * 1000.0));\n\tflow.set(\"pstarttime\", Date.now());\n}\nflow.set(\"pstartCnt\", startCnt);\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":180,"wires":[["bf188ab8.735918"]]},{"id":"bf188ab8.735918","type":"function","z":"b3c74435.a23ce8","name":"OnOffSwitch_v2_Q_defaultOn","func":"var enabled = context.get('enabled');\nif(enabled == null){\n  enabled = false;\n  node.status({fill:enabled?\"green\":\"red\",shape:\"ring\",text:enabled?\"on\":\"off\"});\n}\nif(msg.payload === \"_LogToggle\" && msg.topic == \"dCustomLogger\") {\n    enabled = !enabled;\n    context.set('enabled', enabled);\n    var sText = enabled?\"on\":\"off\";\n    node.status({fill:enabled?\"green\":\"red\",shape:\"ring\",text:sText});\n    return null;\n}\n\nif(!enabled) return null;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":180,"wires":[["ca164358.be99b"]]},{"id":"6d345339.f0467c","type":"inject","z":"b3c74435.a23ce8","name":"EnableMqttSpam","topic":"dCustomLogger","payload":"_LogToggle","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":620,"y":120,"wires":[["bf188ab8.735918"]]},{"id":"cb000df4.61805","type":"comment","z":"b3c74435.a23ce8","name":"TOPICS IN USE","info":"goserver\ngoflomqs\ntflopics1\n\n\nNOTES:\ntflopics1 -- built problematic mqtt app","x":180,"y":280,"wires":[]},{"id":"2f6080f0.2c877","type":"debug","z":"b3c74435.a23ce8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":310,"y":120,"wires":[]},{"id":"bd488d5a.9e1b3","type":"change","z":"b3c74435.a23ce8","name":"SetUsedTopic","rules":[{"t":"set","p":"inuse_topic","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":180,"wires":[[]]},{"id":"ad562644.b73488","type":"change","z":"b3c74435.a23ce8","name":"SetTopic","rules":[{"t":"set","p":"topic","pt":"msg","to":"inuse_topic","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":380,"wires":[["474dee51.7f7f2"]]},{"id":"c7795f01.1ca81","type":"inject","z":"b3c74435.a23ce8","name":"","topic":"","payload":"tflopics1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1100,"y":120,"wires":[["bd488d5a.9e1b3"]]},{"id":"55442396.91a09c","type":"inject","z":"b3c74435.a23ce8","name":"","topic":"","payload":"tflopics2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1100,"y":160,"wires":[[]]},{"id":"ee578906.079c78","type":"inject","z":"b3c74435.a23ce8","name":"","topic":"","payload":"goflomqs","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1100,"y":200,"wires":[["bd488d5a.9e1b3"]]},{"id":"237ed429.51d07c","type":"inject","z":"b3c74435.a23ce8","name":"","topic":"nrmqttspammer","payload":"nrmqttspammer","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1170,"y":80,"wires":[["bd488d5a.9e1b3"]]},{"id":"7356131.98db6ec","type":"inject","z":"b3c74435.a23ce8","name":"","topic":"","payload":"njssrv","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1190,"y":280,"wires":[["bd488d5a.9e1b3"]]},{"id":"9e020802.5d6508","type":"inject","z":"b3c74435.a23ce8","name":"","topic":"","payload":"tjsflow","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1130,"y":240,"wires":[["bd488d5a.9e1b3"]]},{"id":"e5553fd2.7bd58","type":"debug","z":"b3c74435.a23ce8","name":"Izpis","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":130,"y":480,"wires":[]},{"id":"4729f7fb.9be148","type":"inject","z":"b3c74435.a23ce8","name":"","topic":"","payload":"Vhod","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":420,"wires":[["e5553fd2.7bd58"]]},{"id":"91f6898b.883388","type":"sqlite","z":"b3c74435.a23ce8","mydb":"8fd14734.435878","sqlquery":"batch","sql":"","name":"BatchTest","x":320,"y":680,"wires":[["713153af.5a1afc"]]},{"id":"2b6a7c34.589774","type":"function","z":"b3c74435.a23ce8","name":"BatchTopicStatments","func":"\nmsg.topic=\"create table if not exists t1 (q1, q2);\"\n+ \"create table if not exists t2 (q2, q3);\"\n+ \"insert into t1 values(\\\"some\\\", \\\"words\\\");\"\n+ \"insert into t1 values(\\\"no\\\", \\\"more\\\");\"\n+ \"insert into t2 values(\\\"and yet \\\", \\\"a tabel\\\");\"\n;\n\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":620,"wires":[["91f6898b.883388"]]},{"id":"f163958f.2c1858","type":"inject","z":"b3c74435.a23ce8","name":"","topic":"","payload":"Vhod","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":680,"wires":[["2b6a7c34.589774"]]},{"id":"1280fab4.7949d5","type":"sqlite","z":"b3c74435.a23ce8","mydb":"8fd14734.435878","sqlquery":"fixed","sql":"select * from t1;","name":"GetThing","x":320,"y":760,"wires":[["713153af.5a1afc"]]},{"id":"80a76638.6799a8","type":"sqlite","z":"b3c74435.a23ce8","mydb":"8fd14734.435878","sqlquery":"fixed","sql":"select * from t2;","name":"GetMoreThings","x":340,"y":820,"wires":[["713153af.5a1afc"]]},{"id":"713153af.5a1afc","type":"debug","z":"b3c74435.a23ce8","name":"DbInnards","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":530,"y":700,"wires":[]},{"id":"9f1db7.84afb248","type":"inject","z":"b3c74435.a23ce8","name":"","topic":"","payload":"Vhod","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":760,"wires":[["1280fab4.7949d5"]]},{"id":"fbd9addf.d91d9","type":"inject","z":"b3c74435.a23ce8","name":"","topic":"","payload":"Vhod","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":820,"wires":[["80a76638.6799a8"]]},{"id":"7c9b1ae5.4cac94","type":"http in","z":"b3c74435.a23ce8","name":"","url":"/thething","method":"get","upload":false,"swaggerDoc":"","x":1490,"y":140,"wires":[["658ad603.a3cbd8"]]},{"id":"658ad603.a3cbd8","type":"http response","z":"b3c74435.a23ce8","name":"","statusCode":"","headers":{},"x":1490,"y":100,"wires":[]},{"id":"2c865c21.63a924","type":"inject","z":"b3c74435.a23ce8","name":"","topic":"","payload":"tnifis","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1190,"y":320,"wires":[["bd488d5a.9e1b3"]]},{"id":"20505e0d.b8a222","type":"inject","z":"b3c74435.a23ce8","name":"JustSimpleMessage","topic":"","payload":"IamNodeRet","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":320,"wires":[["ad562644.b73488"]]},{"id":"fbfb88f9.311ef8","type":"link in","z":"b3c74435.a23ce8","name":"MqttReceiverAntenna","links":["230acbaf.bbfb94","4892d7df.019e78"],"x":695,"y":260,"wires":[["ad562644.b73488"]]},{"id":"ebe61bec.21b358","type":"switch","z":"b3c74435.a23ce8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":440,"wires":[["ad562644.b73488"],["474dee51.7f7f2"]]},{"id":"256dcabe.fe4386","type":"inject","z":"b3c74435.a23ce8","name":"NifiButton","topic":"nifibtn","payload":"nifibtn","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1280,"y":360,"wires":[["bd488d5a.9e1b3"]]},{"id":"25504e55.f088b2","type":"catch","z":"b3c74435.a23ce8","name":"","scope":["5c0dd5c3.f2b65c","3fbf9e09.d999e2"],"x":150,"y":120,"wires":[["2f6080f0.2c877"]]},{"id":"4892d7df.019e78","type":"link out","z":"b3c74435.a23ce8","name":"MqttToFlowSender","links":["fbfb88f9.311ef8"],"x":795,"y":960,"wires":[]},{"id":"bdd0603f.41c05","type":"inject","z":"b3c74435.a23ce8","name":"","topic":"","payload":"Teh simpel MQTT","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":585,"y":960,"wires":[["4892d7df.019e78"]]},{"id":"ed900a31.b7fea8","type":"inject","z":"b3c74435.a23ce8","name":"SendJson","topic":"","payload":"{\"hey\":\"trololooo\", \"never\":\"sending\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":560,"y":920,"wires":[["4892d7df.019e78"]]},{"id":"f8148950.b181f8","type":"inject","z":"b3c74435.a23ce8","name":"NifiButton","topic":"nifibtn","payload":"we","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":560,"y":880,"wires":[["4892d7df.019e78"]]},{"id":"5c396193.7c5d6","type":"comment","z":"b3c74435.a23ce8","name":"Messages to test Nifi MQTT","info":"","x":600,"y":840,"wires":[]},{"id":"ea2fe08a.9c0da","type":"comment","z":"b3c74435.a23ce8","name":"Testing SQLite batch","info":"","x":370,"y":640,"wires":[]},{"id":"8c037519.6b70c8","type":"comment","z":"b3c74435.a23ce8","name":"Misc testing flows that I have used some time. Some of them make no sense.","info":"","x":370,"y":80,"wires":[]},{"id":"fd715f21.64802","type":"mqtt-broker","z":"","name":"B1","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4e9c0bb4.ea51e4","type":"mqtt-broker","z":"","name":"B1","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8fd14734.435878","type":"sqlitedb","z":"","db":":memory:","mode":"RWC"}]