node-red_flows/ShutDownListen.json
[{"id":"4f14184c.b3adf8","type":"debug","z":"37191941.eb0d86","name":"NiceExitingLog","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":370,"y":120,"wires":[]},{"id":"51d38bd1.100c34","type":"function","z":"37191941.eb0d86","name":"out","func":"node.warn(\"We're being killed\");\nvar x = global.get(\"nice_exit\");\nx.exit(0);","outputs":1,"noerr":0,"x":310,"y":200,"wires":[[]]},{"id":"528b3762.901838","type":"inject","z":"37191941.eb0d86","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":200,"wires":[["51d38bd1.100c34"]]},{"id":"4570154b.a42d4c","type":"http in","z":"37191941.eb0d86","name":"ShutdownListener","url":"/dotheshutdown","method":"get","upload":false,"swaggerDoc":"","x":130,"y":120,"wires":[["100124c4.753f2b"]]},{"id":"100124c4.753f2b","type":"delay","z":"37191941.eb0d86","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":230,"y":160,"wires":[["51d38bd1.100c34"]]},{"id":"b85d3a82.fb79a8","type":"comment","z":"37191941.eb0d86","name":"Turns node-red off on HTTP request.","info":"For this ot work, you need to set in settings.js:\n\nfunctionGlobalContext: {\n    // os:require('os'),\n    // jfive:require(\"johnny-five\"),\n    // j5board:require(\"johnny-five\").Board({repl:false})\n    osMod:require('os'),\n    // jfive:require(\"johnny-five\"),\n    // j5board:require(\"johnny-five\").Board({repl:false})\n\tenv_vars: process.env,\n\tnice_exit: process\n},\n\nImportant is last line:\n\nnice_exit: process\n","x":180,"y":80,"wires":[]}]